coverage
Django
Faker
django-widget-tweaks
libgravatar
channels
daphne
redis 
django-redis
django-guardian
django-bootstrap-datepicker-plus
django-colorfield
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
celery
channels-redis
sendgrid
django.contrib.auth
django-notification