{% load static %}
<div class="bottomNav">
<link rel="stylesheet" href="{% static 'bottomNavBarStyle.css' %}" >
<nav class="navbar">
    <button>
        <a href="#" class="button">Notes</a>
        {% comment %} <img src="{% static 'notes.png' %}" alt="logo" width="100" height="100" /> {% endcomment %}
    {% comment %} <input type="submit" value="Notes" class="button"> {% endcomment %}
     </button>
    <button>
        <a href="#" class="button">Calendar</a>
        {% comment %} <input type="submit" value="Notes" class="button"> {% endcomment %}
     </button>
    
     <button>
        <a href="#" class="button">Me</a>
        {% comment %} <input type="submit" value="Notes" class="button"> {% endcomment %}
     </button>
</nav>
</div>