<div class="modal fade" id="codeEditor" role="dialog" data-bs-backdrop="false"
     data-bs-keyboard="false" aria-hidden="true" aria-labelledby="codeEditorLabel" tabindex="-1"
     style="pointer-events: none; color: rgb(245, 93, 66);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" >CodeEditor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <textarea id="code">{{ page.code }}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                style="background-color: rgb(245, 93, 66, 0.3); border-color: rgb(245, 93, 66);
                width: 100px; color: rgb(245, 93, 66);">Cancel</button>
      </div>
    </div>
  </div>
</div>