<div class="modal fade" id="codeEditor" role="dialog" data-bs-backdrop="false"
     data-bs-keyboard="false" aria-hidden="true" aria-labelledby="codeEditorLabel" tabindex="-1"
     style="pointer-events: none; color: rgb(245, 93, 66);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
{#        <h1 class="modal-title fs-5" >CodeEditor</h1>#}
          <ul class="nav nav-tabs" role="tablist">
  <li class="nav-item editorTab">
    <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">
        {{ page.editors.first.title}}
        <button class="closeBtn" data-dismiss="tab" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </a>

  </li>
              {% for editor in page.editors.all|slice:"1:" %}
  <li class="nav-item editorTab">
    <a class="nav-link" data-toggle="tab" href="#tab{{ forloop.counter|add:"1" }}" role="tab">
        {{ editor.title }}
        <button class="closeBtn" data-dismiss="tab" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </a>
  </li>
              {% endfor %}
          <button type="button" class="bi bi-plus-lg" id="add-tab-btn"></button>
</ul>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="tab-content">
              <div class="tab-pane active" id="tab1" role="tabpanel">
                  <div id="code1"></div>
              </div>
              {% for editor in page.editors.all|slice:"1:" %}
                  <div class="tab-pane" id="tab{{ forloop.counter|add:"1" }}" role="tabpanel">
                    <div id="code{{ forloop.counter|add:"1" }}"></div>
                  </div>
                {% endfor %}
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                style="background-color: rgb(245, 93, 66, 0.3); border-color: rgb(245, 93, 66);
                width: 100px; color: rgb(245, 93, 66);">Cancel</button>
      </div>
    </div>
  </div>
</div>