 <div class="modal fade" id="eventDetail" aria-hidden="true" aria-labelledby="eventDetail" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addFolderLabel" style="color: rgb(245, 93, 66)">Event Detail</h1>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                          <form action="{% url 'calendar_tab' %}" method="post" class="collapse multi-collapse">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <input type="submit" value="Save Changes" class="btn-chocolate fw-bold" style="color: rgb(245, 93, 66)">
        </form>
                <div class="collapse multi-collapse show" style="font-size: 20px">
        <p id="title" style="font-size: 20px; color: rgb(245, 93, 66)">Title: </p>
        <p id="description" style="font-size: 18px; color: rgb(245, 93, 66)">Description:</p>
        <p id="start_time" style="font-size: 17px; color: rgb(245, 93, 66)">Start Time:</p>
        <p id="end_time" style="font-size: 17px; color: rgb(245, 93, 66)">End Time:</p>
        <p id="tag" style="font-size: 15px; color: rgb(245, 93, 66)">Tag:</p>
        <p id="page" style="font-size: 15px; color: rgb(245, 93, 66)">Page:</p>
      </div>
      </div>
         <div class="modal-footer">
         <button class="edit h6 fw-bold collapse multi-collapse show" id="EditButton"
                    style="font-size: 15px; color: rgb(245, 93, 66)"
                    data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false"
                    aria-controls="personalDetails userProfileForm EditButton">
            <a> <i class="bi bi-pencil-square"
                   style="font-size: 15px; color: rgb(245, 93, 66)"></i> Edit</a>
        </button>
               <button id="delete"
                    style="font-size: 15px; color: rgb(245, 93, 66)">
            <a id="delete_link" style="font-size: 15px; color: rgb(245, 93, 66)">
                <i class="bi bi-trash" style="font-size: 15px; color: rgb(245, 93, 66)"></i> Delete</a>
        </button>
      </div>
    </div>
 </div>
 </div>