<nav class="navbar-custom navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item float-left">
                <div class="icon-image"></div>
            </li>
            <li class="nav-item float-left">
                <a href="{% url 'home' %}"><button class="header-home-button">Notely</button></a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item float-left">
                <a href="{% url 'sign_up' %}"><button class="header-button">Sign Up</button></a>
            </li>
            <li class="nav-item float-left">
                <a href="{% url 'log_in' %}"><button class="header-button">Log In</button></a>
            </li>
        </ul>
    </div>
</nav>
