{% load static %}
<div class="topNav">
<link rel="stylesheet" href="{% static 'NavBarStyle.css' %}" >
        {% comment %} <img src="{% static 'logo.png' %}" alt="logo" width="100" height="100" /> {% endcomment %}
        <p><h1 class="navbar-brand">Welcome to Notely!</h1></p>
        <a href="{% url 'folders_tab' %}">Notes
            {% comment %} <img src="{% static 'notes.png' %}" alt="logo" width="100" height="100" /> {% endcomment %}
        </a>

        <a href="{% url 'calendar_tab' %}">Calendar
            {% comment %} <img src="{% static 'calendar.png' %}" alt="logo" width="100" height="100" /> {% endcomment %}
        </a>
        
        <a href="{% url 'profile_tab' %}">Me
            {% comment %} <img src="{% static 'profile.png' %}" alt="logo" width="100" height="100" /> {% endcomment %}
        </a>

        <a href="{% url 'log_out' %}" class="split">Log Out
        </a>
</div>
