<div class="offcanvas offcanvas-start" data-bs-scroll="true" id="sidebar" aria-labelledby="sidebarLabel"
     data-bs-backdrop="false"
     data-bs-keyboard="false" aria-hidden="true" aria-labelledby="symbolsLabel" tabindex="-1"
     style="color: rgb(60, 120, 216);">
    <div class="offcanvas-header"
         style="font-size: 20px; color: rgb(60, 120, 216); text-align: center; line-height: 70px; background: rgb(60, 120, 216, 0.1); user-select: none; color: rgb(60, 120, 216);">
        <h5 class="offcanvas-title" style="font-size: 30px;" id="sidebarLabel">{{ page.notebook.notebook_name }}
            {% if user != page.notebook.user %}(shared by {{ page.notebook.user.username }}){% endif %}</h5>
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="d-flex">
                    <select id="search-bar" multiple placeholder="Type to search a page...." autocomplete="off"
                            class="form-select me-2"></select>
                    <button class="btn btn-outline-secondary" type="submit" name="page_search_submit"
                            id="search-button">Search
                    </button>
                </div>
            </div>

            <style>
                #search-bar {
                    height: 2rem;
                }
            </style>

        </nav>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" id="closeBtn"></button>
    </div>
    <div class="offcanvas-body" style="background-color: white; transition: all .5s ease;">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% if can_edit_notebook %}
                    <div class="col">
                        <form action="{% url 'page' page.id %}" method="post">
                            {% csrf_token %}
                            <button class="plus" type="submit" name="add_page_submit"></button>
                        </form>
                    </div>
                {% endif %}
                {% for page in viewable_pages %}
                    <div class="col page" data-tag-id={{ page.get_all_tags_id }}; data-page2-id= {{ page.id }}>
                        <div class="dropdown">
                            <a href="{% url 'page' page.id %}"
                               data-page-num= {{ forloop.counter }}>
                                <span style="color: {{ page.tags.first.color }}">&#x25CF{% if page.thumbnail %}
                                    <img src="{{ page.thumbnail.url }}">
                                {% else %}
                                    {% load static %}
                                    <img src={% static 'images/default_thumbnail.jpeg' %}>
                                {% endif %} page {{ forloop.counter }}</span></a>
                            {% if can_edit_notebook %}
                                <button class="page dropdown-toggle" type="button" id="dropdownMenu"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                    <button class="dropdown-item add-tags" type="button" data-page-id="{{ page.id }}">
                                        Add tags
                                    </button>
                                    <button class="dropdown-item" type="button"><a
                                            href="{% url 'delete_page'  page.id %}">Delete</a></button>
                                    <button class="dropdown-item" type="button"></button>
                                    <button class="dropdown-item" type="button"></button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="tag-buttons" style="display: flex;">
        {% if can_edit_notebook %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        style="font-size: 16px; border-radius: 5px; background-color: rgb(60, 120, 216); color:white; margin-bottom: 10px;">
                    New Tag
                </button>
        {% endif %}
        <div class="tag-buttons">
            <button class="show-all-tags-button"
                    style="font-size: 16px; background-color: rgb(60, 120, 216); color: white; margin-bottom: 10px; border-radius: 5px; border: none;">
                All
            </button>
            {% for tag in tags %}
                <span style="color: {{ tag.color }}">&#x25CF;<button class="tag-button"
                                                                     data-tag-id="{{ tag.id }}">tag</button></span>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    .tag-buttons {
        display: flex;
    }

    .tag-buttons button {
        margin-left: 45px;
        font-size: 16px;
        color: white;
        margin-bottom: 10px;
        border-radius: 5px;
        border: none;
        width: 150px; /* 设置宽度 */
    }

    .offcanva-footer button {
        margin-right: 10px;
    }

    .tag-buttons .show-all-tags-button {
        margin-left: auto; /* 靠右对齐 */
    }

</style>

<div class="modal fade" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ page_tag_form.media }}
                <form action="{% url 'page' page.id %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/bootstrap_form.html' with form=page_tag_form %}
                    <input type="submit" name="page_tag_submit" value="Create tag" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'partials/pageModal.html' %}

<script>
    const newButtons = document.querySelectorAll('.dropdown-item.add-tags');
    const tagButtons = document.querySelectorAll('.tag-button');
    const showAllTagsButton = document.querySelectorAll('.show-all-tags-button');

    newButtons.forEach(button => {
        button.addEventListener('click', event => {
            const page_id = button.getAttribute('data-page-id');
            $.ajax({
                url: "{% url 'page_detail' 0 %}".replace("0", page_id),
                success: function (data) {
                    $('#detail').html(data.html);
                },
                error: function () {
                    alert('Error retrieving event detail');
                }
            });
            $('#pageDetail').modal('show');
        });
    });

    tagButtons.forEach(button => {
        button.addEventListener('click', event => {
            const tag_id = button.getAttribute('data-tag-id');
            console.log("hello")
            $(".page").hide();
            $(".page[data-tag-id*=" + tag_id + "]").show();
        });
    });

    showAllTagsButton.forEach(button => {
        button.addEventListener('click', event => {
            $(".page").show();
        });
    });
</script>

<style>
    .page {
        transition-duration: 0.4s;
        font-size: 16px;
        background: none;
    }

    .page:hover {
        border-radius: 50%;
        padding-right: 20px;
    }
    .plus {
        position: absolute;
        width: 35px;
        height: 35px;
        background: rgb(60, 120, 216, 0.02);
        cursor: pointer;
        border: 2px solid rgb(60, 120, 216, 0.5);
    }

    .plus:after {
        content: '';
        position: absolute;
        height: 4px;
        width: 50%;
        background: rgb(60, 120, 216, 0.8);
        top: 50%;
        left: 50%;
    }

    .plus:before {
        content: '';
        position: absolute;
        height: 50%;
        width: 4px;
        transform: translate(-50%, -50%);
        background: rgb(60, 120, 216, 0.8);
        top: 50%;
        left: 50%;
    }

    .plus:after,
    .plus:before {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .plus:hover:before,
    .plus:hover:after {
        background: rgb(60, 120, 216, 0.8);
        transition: 0.2s;
    }

    .plus:hover {
        background-color: rgb(60, 120, 216, 0.08);
        transition: 0.2s;
    }

    #dropdownMenu {
        padding: 1px;
        border: none;
    }

    #sidebarLabel {
        text-align: center;
    }
</style>
