<div class="modal fade" id="notesHelp" aria-hidden="true" aria-labelledby="notesHelp" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="notesHelp" style="color: rgb(245, 93, 66)">Notes Help</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="detail" class="modal-body">
            <h1> testing</h1>
        </div>
       
  </div>
</div>
</div>