 <div class="modal fade" id="pageDetail" aria-hidden="true" aria-labelledby="pageDetail" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addFolderLabel" style="color: rgb(245, 93, 66)">Event Detail</h1>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="detail" class="modal-body">

      </div>
         <div class="modal-footer">
         <button class="edit h6 fw-bold collapse multi-collapse show" id="EditButton"
                    style="font-size: 15px; color: rgb(245, 93, 66)"
                    data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false"
                    aria-controls=" EditButton">
            <a> <i class="bi bi-pencil-square"
                   style="font-size: 15px; color: rgb(245, 93, 66)"></i> Edit</a>
        </button>
               <button id="delete"
                    style="font-size: 15px; color: rgb(245, 93, 66)">
            <a id="page_delete_link" style="font-size: 15px; color: rgb(245, 93, 66)">
                <i class="bi bi-trash" style="font-size: 15px; color: rgb(245, 93, 66)"></i> Delete</a>
        </button>
      </div>
    </div>
 </div>
 </div>