<form action="{% url 'page_detail' page.id %}" method="post" class="collapse multi-collapse">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <input type="submit" value="Save Changes" class="btn-chocolate fw-bold" style="color: rgb(245, 93, 66)">
        </form>
<div class="collapse multi-collapse show" style="font-size: 20px;word-wrap: break-word;">
        <p id="tag" style="font-size: 15px; color: rgb(245, 93, 66)">Tag: {% for tag in event.tags.all %}
            <span style="color: {{ tag.color }}">&#x25CF</span>{{tag}}
        {% endfor %}</p>
</div>