

<div class="modal fade modal-draggable" id="pageEventModal" role="dialog" data-bs-backdrop="false"
     data-bs-keyboard="false" aria-hidden="true" aria-labelledby="pageEventModalLabel" tabindex="-1"
     style="pointer-events: none; color: rgb(245, 93, 66);">
    <div class="modal-dialog modal-dialog-centered modal-draggable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="scroll-container">
                    <div class='container col-10'>
            
                        <h1>Events</h1>
            
                        <div id='calendar' style="color: rgb(245, 93, 66);"></div>
                               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block scripts %}

    {% load static%}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
<script>

    let event_id;
    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: false,
        initialView: 'listWeek',
        events: [
            {% for event in events %}
                {
                    id: "{{event.id}}",
                    title: "{{ event.title}}",
                    start: '{{ event.start_time|date:"Y-m-d H:i:s" }}',
                    end: '{{ event.end_time|date:"Y-m-d H:i:s" }}',
                    backgroundColor: '{{ event.tags.first.color }}',
                    tags: "{% for tag in event.tags.all %}{{ tag.title }},{% endfor %}".slice(0,-1),
                },
            {% endfor %}
        ],

        eventClick: function(e) {
            event_id = e.event.id;
            $.ajax({
                url: "{% url 'event_detail' 0 %}".replace("0", e.event.id),
                success: function(data) {
                    $('#detail').html(data.html);
                    if (data.event_user_id !== {{user.id}}){
                        $('#eventModalFooter').hide();
                    }
                    console.log("data_euser", data.event_user_id)
                    console.log("data_user", {{user.id}})
                },
                error: function() {
                    alert('Error retrieving event detail');
                }
            });
            $.ajax({
                url: "{% url 'get_options_event' 0 %}".replace("0", e.event.id),
                success: function (data){
                    t_select.clearOptions();
                    for (const option of data) {
                        t_select.addOption(option);
                    }
                },
                error: function (){
                    alert('Error retrieving data');
                }
            });
            $('#eventDetail').modal('show');
            $('#delete_link').attr('href', "{% url 'delete_event' 0 %}".replace("0", e.event.id))
        },
        editable: true,
        eventDrop: function(info) {
            const event = info.event;
            const start = event.start.toISOString();
            const end = event.end.toISOString();
            // send updated start and end times to server to update database
            $.ajax({
                url: "{% url 'update_event' 0 %}".replace("0", event.id),
                type: 'POST',
                data: {
                    start: start,
                    end: end,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            });
        },
});

calendar.render();
$(document).ready(function() {
    $('.modal-draggable .modal-dialog').draggable({
        handle: ".modal-header"
    });
    });
</script>
{%endblock%}
