<div class="modal fade" id="shareEventModalInternal" aria-hidden="true" aria-labelledby="shareEventModalInternalLabel"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: rgb(60, 120, 216)">Share</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="title" style="font-size: 20px; color: rgb(60, 120, 216);">Event to be
                    shared: {{ event.title }}</p>
                <select id="select-user-internal" class="userEmail" placeholder="Enter username or email" autocomplete="off">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="share_btn"> Share</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        style="background-color: rgb(60, 120, 216, 0.1); border-color: rgb(60, 120, 216); width: 100px; color: rgb(60, 120, 216);">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
