<div class="modal fade" id="shareModal" aria-hidden="true" aria-labelledby="shareModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"style="color: rgb(245, 93, 66)">Share</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select id="select-user" class="userEmail" placeholder="Enter username or email" autocomplete="off">
                </select>
            </div>
        </div>
    </div>
</div>