<div class="modal fade" id="shareEventModalInternal" aria-hidden="true" aria-labelledby="shareEventModalInternalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"style="color: rgb(60, 120, 216)">Share</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="title" style="font-size: 20px; color: rgb(60, 120, 216);">Event to be shared: {{ event.title }}</p>
                <select id="select-user" class="userEmail" placeholder="Enter username or email" autocomplete="off">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="share_btn"> Share</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: rgb(60, 120, 216, 0.1); border-color: rgb(60, 120, 216); width: 100px; color: rgb(60, 120, 216);">Cancel</button>
            </div>
        </div>
    </div>
</div>
  
  
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
<style>
    .ts-wrapper.userEmail .ts-control > div .email {
        opacity: 0.7;
    }
    .ts-wrapper.userEmail .ts-control > div .name + .email {
        margin-left: 5px;
    }
    .ts-wrapper.userEmail .ts-control > div .email:before {
        content: '<';
    }
    .ts-wrapper.userEmail .ts-control > div .email:after {
        content: '>';
    }
    .ts-wrapper.userEmail .ts-dropdown .caption {
        font-size: 12px;
        display: block;
        color: #a0a0a0;
    }
</style>

<script>
    const t_select = new TomSelect("#select-user",{
        plugins: ['remove_button'],
        persist: false,
        maxItems: null,
        valueField: 'email',
        labelField: 'name',
        searchField: ['username', 'email'],
        options: [
            {% for user in users %}
                {email: "{{ user.email }}", username: "{{ user.username }}", gravatar: "{{ user.profile.mini_gravatar}}"},
            {% endfor %}
        ],
        render: {
            item: function(item, escape) {;
                return '<div>' +
                    (item.username ? '<span class="name">' + escape(item.username) + '</span>' : '') +
                    (item.email ? '<span class="email">' + escape(item.email) + '</span>' : '') +
                    '<span class="gravatar">' + '<img class="rounded-circle" src="'+ item.gravatar + '"</img></span>'+
                    '</div>';

            },
            option: function(item, escape) {
                var label = item.username || item.email;
                var caption = item.username ? item.email : null;
                return '<div class="row">' + '<div class="col">' +
                    '<span class="label">' + escape(label) + '</span>' +
                    (caption ? '<span class="caption">' + escape(caption) + '</span>' : '') + '</div>'+ '<div class="col">'+
                    '<span class="gravatar">' + '<img class="rounded-circle" src="'+ item.gravatar + '"</img></span>' +
                    '</div>'+
                    '</div>';
            }
        }
    });
  
  
    $('#share_btn').click(function () {
        const selectedUsers = t_select.getValue();
        const csrf = $('input[name="csrfmiddlewaretoken"]').val();
        const url = "{% url 'share_event' 0 %}".replace("0", event_id);
  
        $.ajax({
            url: url,
            type: 'POST',
            async: true,
            data: {
                'selected_users[]': selectedUsers,
                'csrfmiddlewaretoken': csrf
            },
            success: function (data) {
                $('#shareEventModalInternal').modal('hide');
            }
        });
    });
</script>
