<div class="modal fade" id="shareModal" aria-hidden="true" aria-labelledby="pageDetail" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addFolderLabel" style="color: rgb(245, 93, 66)">Add tags</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="detail" class="modal-body">
            </div>
        </div>
    </div>
</div>
