<div class="modal fade" id="symbols" role="dialog" data-bs-backdrop="false"
     data-bs-keyboard="false" aria-hidden="true" aria-labelledby="symbolsLabel" tabindex="-1"
style="pointer-events: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" >CodeEditor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="keyboard">
               <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                   <li class="nav-item">
                         <button class="key">&times;</button>
                       <button class="key">&divide;</button>
                       <button class="key">&equals;</button>
                       <button class="key">&ne;</button>
                       <button class="key">&plusmn;</button>
                   </li>
                    <li class="nav-item">
                         <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                   </li>
                    <li class="nav-item">
                         <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                   </li>
                    <li class="nav-item">
                         <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                   </li>
                    <li class="nav-item">
                         <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                   </li>
                    <li class="nav-item">
                         <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                        <button class="key">&times;</button>
                   </li>
               </ul>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>