<div class="modal fade" id="symbols" role="dialog" data-bs-backdrop="false"
     data-bs-keyboard="false" aria-hidden="true" aria-labelledby="symbolsLabel" tabindex="-1"
     style="pointer-events: none; border-color: rgb(245, 93, 66);">
  <div class="modal-dialog modal-dialog-centered" style="color: rgb(245, 93, 66);">
    <div class="modal-content" style="border-color: rgb(245, 93, 66);">
      <div class="modal-header" style="border-color: rgb(245, 93, 66);">
        <h1 class="modal-title fs-5">Symbols</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="keyboard">
               <ul class="navbar-nav" style="justify-content: center; align-items: center;">
                   <li class="nav-item">
                       <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&deg;</button>
                       <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&fnof;</button>
                       <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&parallel;</button>
                       <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&models;</button>
                       <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&plusmn;</button>
                   </li>
                   <li class="nav-item">
                       <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&times;</button>
                       <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&divide;</button>
                       <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&part;</button>
                       <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&ne;</button>
                       <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&not;</button>
                   </li>
                    <li class="nav-item">
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&comp;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&nexist;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&le;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&ge;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&nabla;</button>
                   </li>
                    <li class="nav-item">
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&infin;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&part;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&exist;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&forall;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&or;</button>
                   </li>
                   <li class="nav-item">
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&sum;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&mnplus;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&prod;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&radic;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&angrt;</button>
                   </li>
                    <li class="nav-item">
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&and;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&cap;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&cup;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&percnt;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&Vdash;</button>
                   </li>
                    <li class="nav-item">
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&notin;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&ni;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&notni;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&empty;</button>
                        <button class="key" style="color: rgb(245, 93, 66); width: 80px;">&isin;</button>
                   </li>
               </ul>
            </div>
      </div>
      <div class="modal-footer" style="border-color: rgb(245, 93, 66);">
        <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: rgb(245, 93, 66, 0.3);
                border-color: rgb(245, 93, 66); width: 100px; color: rgb(245, 93, 66);">Cancel</button>
      </div>
    </div>
  </div>
</div>