<div class="modal fade" id="symbols" role="dialog" data-bs-backdrop="false"
     data-bs-keyboard="false" aria-hidden="true" aria-labelledby="symbolsLabel" tabindex="-1"
style="pointer-events: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" >Symbols</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="keyboard">
               <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                   <li class="nav-item">
                         <button class="key">&times;</button>
                       <button class="key">&divide;</button>
                       <button class="key">&equals;</button>
                       <button class="key">&ne;</button>
                       <button class="key">&plusmn;</button>
                   </li>
                    <li class="nav-item">
                         <button class="key">&plus;</button>
                        <button class="key">&minus;</button>
                        <button class="key">&not;</button>
                        <button class="key">&lt;</button>
                        <button class="key">&deg;</button>
                   </li>
                    <li class="nav-item">
                         <button class="key">&sup1;</button>
                        <button class="key">&sup2;</button>
                        <button class="key">&sup3;</button>
                        <button class="key">&fnof;</button>
                        <button class="key">&percnt;</button>
                   </li>
                    <li class="nav-item">
                         <button class="key">&forall;</button>
                        <button class="key">&permil;</button>
                        <button class="key">&pertenk;</button>
                        <button class="key">&comp;</button>
                        <button class="key">&part;</button>
                   </li>
                    <li class="nav-item">
                         <button class="key">&exist;</button>
                        <button class="key">&nexist;</button>
                        <button class="key">&empty;</button>
                        <button class="key">&nabla;</button>
                        <button class="key">&isin;</button>
                   </li>
                    <li class="nav-item">
                         <button class="key">&notin;</button>
                        <button class="key">&ni;</button>
                        <button class="key">&notni;</button>
                        <button class="key">&prod;</button>
                        <button class="key">&coprod;</button>
                   </li>
               </ul>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>