#addChoice {
    position: relative;
    border-radius: 10px;
    background: url("images/addFolder.png") no-repeat;
    background-size: contain;
    width: 10%;
    height: 30px;
    margin-top: 5px;
    margin-left: 900px;
}

#addChoice:hover { font-weight: bold; }

.add {
    background-color: transparent;
    border: none;
}

.add:hover { font-weight: bold; }

#notebook_img {
    background: url("images/brownnotebook.png") no-repeat;
    background-size: contain;
    background-position: left;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 50px;
    display: block;
    text-align: left;
}

#folder_img {
    background: url("images/bluefolder.png") no-repeat;
    background-size: contain;
    background-position: left;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 50px;
    display: block;
    text-align: left;
}

.folder-button {
  font-weight: bold;
  box-shadow: None!important;
}

.folder-container {
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  height: 800px;
  overflow: scroll;
}

.folder-nav {
    list-style-type: none;
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
    z-index: 2;
}

.folder-nav li {
    float: left;
    padding: 10px;
    margin-right: 500px;
}

.folder-path { width: 100%; }

#goback-button {
  position: absolute;
  bottom: 90px;
  left: -20px;
  margin: 20px;
  background: url("images/goback.png") no-repeat;
  background-size: contain;
  background-position: left;
  border: none;
  width: 100%;
  height: 40px;
  display: block;
}
