#draw {
    background: url("images/pen.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
}

#select.active {
    background-color: rgb(245, 93, 66);
}

#select {
    background: url("images/select.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
}

#draw.active {
    background-color: rgb(245, 93, 66);
}
#text.active {
    background-color: rgb(245, 93, 66);
}

.toolbox {
    margin: 20px;
}

#upload {
    background: url("images/upload.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
}

#upload.active {
    background-color: rgb(245, 93, 66);
}

#navbarcontainer {
    background-color: rgb(150, 150, 192);
}
