#draw {
    background: url("images/pen.png") no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    border: none;
}

#clearAll {
    background: url("images/clearAll.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
}

#select.active {
    background-color: rgb(60, 120, 216, 0.2);
}

#select {
    background: url("images/select.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
}

#draw.active {
    background-color: rgb(60, 120, 216, 0.2);
}

#text {
    background: url("images/text.png") no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    border: none;
}

#text.active {
    background-color: rgb(60, 120, 216, 0.2);
}

.toolbox {
    margin: 20px;
}

#upload {
    background: url("images/upload_pic.png") no-repeat;
    background-size: contain;
    width: 38px;
    height: 38px;
    border: none;
}

#upload.active {
    background-color: rgb(60, 120, 216, 0.2);
}

#navbarcontainer {
    background-color: rgb(255, 174, 159, 0.6);
}

#erase {
    background: url("images/erase.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 33px;
    border: none;
}

#erase.active {
    background-color: rgb(60, 120, 216, 0.2);
}

#undo {
    background: url("images/undo.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
}

#redo {
    background: url("images/redo.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
}

#showCodeEditor {
    background: url("images/code.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
}

#showSymbols {
    background: url("images/symbol.png") no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    border: none;
}

#table {
    background: url("images/table.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
}

#download {
    background: url("images/download.png") no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    border: none;
}

#linkPage {
    background: url("images/link-file.png") no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    border: none;
}

#template {
    background: url("images/template.png") no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    border: none;
}

#share {
    background: url("images/share.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
}

#event {
    background: url("images/events.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
}