@charset "utf-8";

* {
    margin: 0;/*The distance between up, down, left and right,元素与其他元素之间的间距*/
    padding: 0;/*Like "Notely", the distance between "N" and "o",元素内部与其边框之间的间距*/
}

#log {
    display: flex;/*布局属性，控制了HTML元素的布局和显示方式,决定了元素显示的方式，可以取值有'block','inline','inline-block','none'等*/
    flex-direction: column;/*flex容器中的子元素在水平方向上的排列顺序，可以取值有'row'(横向排列),'row-reverse','column'和'column-reverse'。当元素设置为'flex'时，这个属性才会生效*/
    justify-content: center;/*flex容器中子元素在主轴（row或column）上的对齐方式*/
    align-items: center;/*flex容器中子元素在交叉轴（row或column）上的对齐方式*/
    height: 100vh;/*元素的高度*/
    background: url('images/signup_login.JPG');/*元素的背景颜色*/
    background-size: contain;/*背景图片的大小*/
}

.box {
    border-radius: 20px;/*元素边框圆角的大小*/
    display: flex;/*元素显示的方式，可以取值有'block','inline','inline-block','none'等*/
    flex-direction: column;/*flex容器中的子元素在水平方向上的排列顺序，可以取值有'row','row-reverse','column'和'column-reverse'。当元素设置为'flex'时，这个属性才会生效*/
    justify-content: center;/*flex容器中子元素在主轴（row或column）上的对齐方式*/
    align-items: center;/*flex容器中子元素在交叉轴（row或column）上的对齐方式*/
    width: 350px;
    height: 450px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);/*元素的上边框样式*/
    border-left: 1px solid rgba(0, 0, 0, 0.5);/*元素的左边框样式*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);/*元素的下边框样式*/
    border-right: 1px solid rgba(0, 0, 0, 0.5);/*元素的右边框样式*/
    backdrop-filter: blur(10px);/*元素的背景滤镜效果，比如blur高斯模糊、颜色反转等*/
    background: rgba(255,255,255,0.4);/*元素的背景颜色*/
}

.description > p {
    color: rgba(197,81,58,0.8);/*元素的文本颜色*/
    margin-bottom: 10px;/*元素下方与其他元素之间的间距*/
}

.box > h2 {
    color: rgba(197,81,58,0.8);/*元素的文本颜色*/
    margin-bottom: 10px;/*元素下方与其他元素之间的间距*/
}

.box .input-box {
    display: flex;/*元素显示的方式，可以取值有'block','inline','inline-block','none'等*/
    flex-direction: column;/*flex容器中的子元素在水平方向上的排列顺序，可以取值有'row','row-reverse','column'和'column-reverse'。当元素设置为'flex'时，这个属性才会生效*/
    justify-content: center;/*flex容器中子元素在主轴（row或column）上的对齐方式*/
    align-items: start;/*flex容器中子元素在交叉轴（row或column）上的对齐方式*/
    margin-bottom: 10px;/*元素下方与其他元素之间的间距*/
}

.box .input-box > label {
    margin-bottom: 10px;/*元素下方与其他元素之间的间距*/
    color: rgba(197,81,58,0.8);/*元素的文本颜色*/
    font-size: 13px;/*文本的字体大小*/
}

.box .input-box > input {
    box-sizing: border-box;/*元素盒子模型的大小计算方式(content-box或border-box)*/
    color: rgba(197,81,58,0.8);/*元素的文本颜色*/
    font-size: 14px;/*文本的字体大小*/
    height: 35px;/*元素的高度*/
    width: 250px;/*元素的宽度*/
    background: rgba(197,81,58,0.8);/*元素的背景颜色*/
    border: 1px solid rgba(197,81,58,0.8);/*元素边框的样式、宽度和颜色*/
    border-radius: 5px;/*元素边框圆角的大小*/
    transition: 0.2s;/*元素在某些状态变化时的过渡效果*/
    outline: none;/*元素与其他元素之间的间距*/
    padding: 0 10px;/*元素内部与其边框之间的间距*/
    letter-spacing: 1px;/*文本中字符之间的间距*/
}

.box .input-box > input > input:focus {
    border: 1px solid rgba(197,81,58,0.8);/*元素边框的样式、宽度和颜色*/
}

.box .btn-box {
    width: 250px;/*元素的宽度*/
    display: flex;/*元素显示的方式，可以取值有'block','inline','inline-block','none'等*/
    flex-direction: column;/*flex容器中的子元素在水平方向上的排列顺序，可以取值有'row','row-reverse','column'和'column-reverse'。当元素设置为'flex'时，这个属性才会生效*/
    justify-content: center;/*flex容器中子元素在主轴（row或column）上的对齐方式*/
    align-items: start;/*flex容器中子元素在交叉轴（row或column）上的对齐方式*/
}

.box .btn-box > a {
    font-size: 13px;/*文本的字体大小*/
    text-decoration: none;/*文本的装饰效果，如下划线、删除线等*/
    color: rgba(197,81,58,0.8);/*元素的文本颜色*/
    transition: 0.2s;/*元素在某些状态变化时的过渡效果*/
    width: 250px;/*元素的宽度*/
    text-align: end;/*文本的对齐方式*/
}

.box .btn-box > a:hover {
    text-decoration: none;/*文本的装饰效果，如下划线、删除线等*/
    color: rgba(197,81,58,0.8);/*元素的文本颜色*/
}

.box .btn-box > div {
    display: flex;/*元素显示的方式，可以取值有'block','inline','inline-block','none'等*/
    flex-direction: row;/*flex容器中的子元素在水平方向上的排列顺序，可以取值有'row','row-reverse','column'和'column-reverse'。当元素设置为'flex'时，这个属性才会生效*/
    justify-content: center;/*flex容器中子元素在主轴（row或column）上的对齐方式*/
    align-items: start;/*flex容器中子元素在交叉轴（row或column）上的对齐方式*/
    margin-top: 20px;/*元素上面与其他元素之间的间距*/
}

.box .btn-box > div > button {
    width: 120px;/*元素的宽度*/
    height: 35px;/*元素的高度*/
    border: 1px solid rgba(197,81,58,0.8);/*元素边框的样式、宽度和颜色*/
    background: rgba(197,81,58,0.5);/*元素的背景颜色*/
    color: rgba(197,81,58,0.8);/*元素的文本颜色*/
    border-radius: 5px;/*元素边框圆角的大小*/
    transition: 0.2s;/*元素在某些状态变化时的过渡效果*/
}

.box .btn-box > div > button:nth-of-type(2) {
    margin-left: 10px;/*元素左边与其他元素之间的间距*/
}

.box .btn-box > div > button:hover {
    border: 1px solid rgba(197,81,58,0.8);/*元素边框的样式、宽度和颜色*/
    background: rgba(197,81,58,0.5);/*元素的背景颜色*/
}
.my-button {
  position: relative;
  top: -5px;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 12px;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgb(245, 93, 66);
}
#reg:hover{
    font-weight: bold;
}