{% extends 'base_content.html' %}
 {% block content %}
      <div id='calendar'></div>
            <button id="addEvent" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add New Event
            </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">New Event</h5>
                      <button id="closeEventModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form.media }}
                        <form action="{% url 'calendar_tab' %}" method="post">
                            {% csrf_token %}
                            {% include 'partials/bootstrap_form.html' with form=form %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" value ="Create event" class="btn btn-primary">
                        </form>
                    </div>
                  </div>
                </div>
            </div>
            <button id="login-google"></button>

    {% include 'partials/eventDetail.html' %}
 {% endblock %}
 {% block scripts %}
{% load static%}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
<script>
    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: [
            {% for i in events %}
            {
                id: "{{i.id}}",
                title: "{{ i.title}}",
                start: '{{ i.start_time|date:"Y-m-d" }}',
                end: '{{ i.end_time|date:"Y-m-d" }}'

            },
            {% endfor %}

        ],
        eventClick:  function(e) {
                   $('#eventDetail').modal('show');
                   let link = "{% url 'delete_event' 1%}";
                   let index = link.lastIndexOf('/');
                    let newStr = link.substring(0, index+1);
                   $('#delete_link').attr('href', newStr + e.event.id)
                },
                editable: true
        });
        
    calendar.render();

    </script>

    <link href="{% static 'css_style/calendar.css' %}"rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="{%static 'calendarTabStyle.css'%}"/>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="{%static 'javascript/calendar/syncGoogleCalendar.js'%}"></script>
{% endblock %}