{% extends 'base_content.html' %}
 {% block content %}
<div class="wrapper">
    <div class="filter">
        <div class="event_filter_wrapper">
            <input id="noTag" class="event_filter" name="event_filter_select" type="checkbox" value="noTag" data-type="tag" />
            <label for="noTag"> No Tag </label>
        </div>
        {% for tag in tags %}
        <div class="event_filter_wrapper">
            <input id="{{tag.title}}" class="event_filter" name="event_filter_select" type="checkbox" value="{{tag.title}}" data-type="tag" />
            <label for="{{tag.title}}"> {{tag.title}} </label>
        </div>
        {% endfor %}
    </div>
</div>
     <div class="container">
      <div id='calendar' style="color: rgb(245, 93, 66)"></div>
              <button id="addEvent" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eventModal">
                Add New Event
          </button>
             <div class="g-signin2" data-onsuccess="googleSignIn"></div>


   </div>
          <div class="modal fade" id="eventModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content" style="color: rgb(245, 93, 66)">
                    <div class="modal-header">
                      <h5 class="modal-title" style="color: rgb(245, 93, 66)">Event Modal</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        {{ event_form.media }}
                        <form action="{% url 'calendar_tab' %}" method="post">
                            {% csrf_token %}
                            {% include 'partials/bootstrap_form.html' with form=event_form %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" name="event_submit" value ="Create event" class="btn btn-primary">
                        </form>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tagModal" data-bs-dismiss="modal">
                          New tag
                        </button>
                      </div>
                    </div>
                  </div>
          </div>
                
          <div class="modal fade" id="tagModal" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">New Tag</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {{ tag_form.media }}
                        <form action="{% url 'calendar_tab' %}" method="post">
                            {% csrf_token %}
                            {% include 'partials/bootstrap_form.html' with form=tag_form %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" name="tag_submit" value ="Create tag" class="btn btn-primary">
                        </form>
                      </div>
                    </div>
                  </div>
          </div>
                

            {% comment %} <button id="login-google"></button> {% endcomment %}

            {% comment %} <script src="https://accounts.google.com/gsi/client" async defer></script>
                        <div id="g_id_onload"
                data-client_id="588566071525-5p0gps8skl9gr5j9919r8gob501jqa01.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-callback="onSignIn"
                data-itp_support="true">
            </div>

            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left">
            </div> {% endcomment %}

    {% include 'partials/eventModal.html' %}
 {% endblock %}
 {% block scripts %}
{% load static%}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="588566071525-5p0gps8skl9gr5j9919r8gob501jqa01.apps.googleusercontent.com">
<script>
    const calendarEl = document.getElementById('calendar');
    const tagList = [];
    const calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
        left: 'today prev,next',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        },
        initialView: 'dayGridMonth',
        events: [
            {% for event in events %}
            {
                id: "{{event.id}}",
                title: "{{ event.title}}",
                start: '{{ event.start_time|date:"Y-m-d H:i:s" }}',
                end: '{{ event.end_time|date:"Y-m-d H:i:s" }}',
                backgroundColor: '{{ event.tags.first.color }}',
                tags: "{% for tag in event.tags.all %}{{ tag.title }},{% endfor %}".slice(0,-1)
            },
            {% endfor %}
        ],
        eventRender: function(info) {
            var display = true;
            var tags = [];
            $("input[name='event_filter_select']:checked").each(function() {
                if ($(this).data('type') == 'tag') {
                    tags.push($(this).val());
                }
            });
            if (tags.length) {
                display = display && tags.some(r=> info.event.extendedProps.tags.includes(r));
            }
            if(!tags.length) {
                display = true;
            }
            return display;
        },

        eventClick: function(e) {
             $.ajax({
                url: "{% url 'event_detail' 0 %}".replace("0", e.event.id),
                success: function(data) {
                  $('#detail').html(data.html);
                },
                error: function() {
                  alert('Error retrieving event detail');
                }
              });
                    $('#eventDetail').modal('show');
                   $('#delete_link').attr('href', "{% url 'delete_event' 0 %}".replace("0", e.event.id))

                },
                editable: true,
            dateClick: function(info) {
            calendar.changeView('timeGridDay', info.dateStr);
        },
        eventDrop: function(info) {
            const event = info.event;
            const start = event.start.toISOString();
            const end = event.end.toISOString();
            // send updated start and end times to server to update database
            $.ajax({
                url: "{% url 'update_event' 0 %}".replace("0", event.id),
                type: 'POST',
                data: {
                    start: start,
                    end: end,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
              }
            });
          },
         customButtons: {
            selectAll:{
                text: '•All',
                 click: function() {
                     calendar.getEvents().forEach(function(event) {
                         event.setProp('display', 'auto');
                     });
                     tagList.length = 0;
                 }
            },
            noTag:{
                text: '•No Tag',
                 click: function() {
                    const tag = 'noTag';
                    if (tagList.includes(tag)) {
                        tagList.splice(tagList.indexOf(tag), 1);
                        $(this).text('No Tag');
                    } else {
                        tagList.push(tag);
                        $(this).text('No Tag *');
                    }

                    calendar.getEvents().forEach(function(event) {
                        if (tagList.includes('noTag') && event.extendedProps.tags.length == 0) {
                            event.setProp('display', 'auto');
                        } else if (tagList.some(r=> event.extendedProps.tags.includes(r))) {
                            event.setProp('display', 'auto');
                        } else {
                            event.setProp('display', 'none');
                        }
                    });
                 }
            },
    {% for tag in tags %}
        {{ forloop.counter }}: {
          text: '•{{ tag }}',
          click: function() {
             const tag = '{{ tag.title }}';
             if (tagList.includes(tag)) {
                tagList.splice(tagList.indexOf(tag), 1);
                $(this).text('•{{ tag }}');
             } else {
                tagList.push(tag);
                $(this).text('•{{ tag }} *');
             }
          calendar.getEvents().forEach(function(event) {
             if (tagList.some(r=> event.extendedProps.tags.includes(r))) {
                event.setProp('display', 'auto');
             } else if (tagList.includes('noTag') && event.extendedProps.tags.length == 0) {
                event.setProp('display', 'auto');
             } else {
                event.setProp('display', 'none');
             }
          });
          calendar.rerenderEvents();
          }
        },
    {% endfor %}
      },
            footerToolbar:{
                 start: '',
  center: '',
  end: "selectAll noTag {% for tag in tags %}{{ forloop.counter }} {% endfor %}".slice(0, -1)
            },
        });
    calendar.render();
    $('input[class=event_filter]').change(function() {
        calendar.rerenderEvents();
    });
        $('.fc-noTag-button').css('color', 'pink')
        {% for tag in tags %}
        console.log($('.fc-{{ forloop.counter }}-button'));
        $('.fc-{{ forloop.counter }}-button').css('color', '{{ tag.color }}')

        {% endfor %}

    function googleSignIn(googleUser) {
        // Get the ID token and basic profile information from the Google user object
        var id_token = googleUser.getAuthResponse().id_token;
        var profile = googleUser.getBasicProfile();
      
        console.log(id_token)
        console.log(profile)
        console.log("testing")
      }
    var tagModal = document.getElementById('tagModal')
    tagModal.addEventListener('hidden.bs.modal', function (event) {
    var eventModal = document.getElementById('eventModal')
    var bsModal = bootstrap.Modal.getInstance(eventModal)
    bsModal.show()
  })
    </script>
    <link rel="stylesheet" href="{%static 'css_style/calendarTabStyle.css' %}"/>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="{%static 'javascript/calendar/syncGoogleCalendar.js'%}"></script>
{% endblock %}
