{% extends 'base_content.html' %}
{% block content %}
    <div class="container">
        <div id='calendar' style="color: rgb(60, 120, 216);"></div>
        <button onclick="checkPermission();applyTemp();" id="addEvent" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#eventModal">
            Add New Event
        </button>

        <a href="{% url 'google_auth' %}" class="btn btn-google" style="color: rgb(60, 120, 216);">
            <i class="fa fa-google"></i> Sync with Google
        </a>

    </div>

    <div class="modal fade" id="eventModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" style="color: rgb(60, 120, 216);">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: rgb(60, 120, 216);">Event Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="tempEvent()"></button>
                </div>
                <div class="modal-body">
                    {{ event_form.media }}
                    <form action="{% url 'calendar_tab' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=event_form %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="tempEvent()">Close</button>
                        <input type="submit" name="event_submit" value="Create event" class="btn btn-primary"
                               style="margin-left: 3px;">
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tagModal"
                            data-bs-dismiss="modal" onclick="tempEvent()" style="margin-top: 7px;">
                        New tag
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tagModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: rgb(60, 120, 216);">New Tag</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="color: rgb(60, 120, 216);">
                    {{ tag_form.media }}
                    <form action="{% url 'calendar_tab' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=tag_form %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" name="tag_submit" value="Create tag" class="btn btn-primary"
                               style="margin-left: 3px;">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/eventModal.html' %}

{% endblock %}
{% block scripts %}
    {% load static %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
    <script>
        let event_id;
        const calendarEl = document.getElementById('calendar');
        var tagList = [];
        const calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'today prev,next tutorial',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            initialView: 'dayGridMonth',
            events: [
                {% for event in events %}
                    {
                        id: "{{event.id}}",
                        title: "{{ event.title}}",
                        start: '{{ event.start_time|date:"Y-m-d H:i:s" }}',
                        end: '{{ event.end_time|date:"Y-m-d H:i:s" }}',
                        backgroundColor: '{{ event.tags.first.color }}',
                        tags: "{% for tag in event.tags.all %}{{ tag.title }},{% endfor %}".slice(0, -1),
                    },
                {% endfor %}
            ],
        eventClassNames: function(info) {
            var display = true;
            var tags = [];

            $("input[name='event_filter_select']:checked").each(function() {
                if ($(this).data('type') == 'tags') {
                    tags.push($(this).val());
                }
            });

            if (tags.length) {
                if (info.event.extendedProps.tags.length == 0) {
                    display = display && tags.includes('noTag');
                } else {
                    display = display && tags.indexOf(info.event.extendedProps.tags) >= 0;
                }
            }
            if (!display) {
                display = "hidden";
            }

            return display;
        },

            eventClick: function (e) {
                event_id = e.event.id;
                $.ajax({
                    url: "{% url 'event_detail' 0 %}".replace("0", e.event.id),
                    success: function (data) {
                        $('#edetail').html(data.html);
                        if (data.event_user_id !== {{user.id}}) {
                            $('#eventModalFooter').hide();
                        }
                        console.log("data_euser", data.event_user_id)
                        console.log("data_user", {{user.id}})
                    },
                    error: function () {
                        alert('Error retrieving event detail');
                    }
                });
                $.ajax({
                    url: "{% url 'get_options_event' 0 %}".replace("0", e.event.id),
                    success: function (data) {
                        t_select.clearOptions();
                        for (const option of data.options) {
                            t_select.addOption(option);
                        }
                    },
                    error: function () {
                        alert('Error retrieving data');
                    }
                });
                $('#eventDetail').modal('show');
                $('#delete_link').attr('href', "{% url 'delete_event' 0 %}".replace("0", e.event.id))
            },
            editable: true,
            dateClick: function (info) {
                calendar.changeView('timeGridDay', info.dateStr);
            },
            eventDrop: function (info) {
                const event = info.event;
                const start = event.start.toISOString();
                const end = event.end.toISOString();
                // send updated start and end times to server to update database
                $.ajax({
                    url: "{% url 'update_event' 0 %}".replace("0", event.id),
                    type: 'POST',
                    data: {
                        start: start,
                        end: end,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                });
            },
            customButtons: {
            tutorial: {
                text: 'tutorial',
                click: function() {
                    tourCalendar.start();
                }
            },
            selectAll:{
                text: '•All',
                 click: function() {
                     calendar.getEvents().forEach(function(event) {
                         event.setProp('display', 'auto');

                     });
                     tagList.length = 0;
                 }
            },
            noTag:{
                text: '•No Tag',
                 click: function() {
                    const tag = 'noTag';


                    calendar.getEvents().forEach(function(event) {
                        if (event.extendedProps.tags.length == 0) {
                            event.setProp('display', 'auto');
                        } else if (tagList.some(r=> event.extendedProps.tags.includes(r))) {
                            event.setProp('display', 'auto');
                        } else {
                            event.setProp('display', 'none');
                        }
                    });
                 }
            },
    {% for tag in tags %}
            {{ forloop.counter }}: {
            text: '•{{ tag }}',
                click
        :

            function () {
                const tag = '{{ tag.title }}';
                calendar.getEvents().forEach(function (event) {
                    if (event.extendedProps.tags.includes(tag)) {
                        event.setProp('display', 'auto');
                    } else {
                        event.setProp('display', 'none');
                    }
                });
                calendar.rerenderEvents();
            }
        },

        {% endfor %}

      },
        footerToolbar:{
            start: '',
                center
        :
            '',
                end
        :
            "selectAll noTag {% for tag in tags %}{{ forloop.counter }} {% endfor %}".slice(0, -1)
        }
        ,
        })
        ;
        calendar.render();
        $('input[class=event_filter]').change(function() {
            calendar.render();
        });
        $('.fc-noTag-button').css('color', 'blue')
        {% for tag in tags %}
            console.log($('.fc-{{ forloop.counter }}-button'));
            $('.fc-{{ forloop.counter }}-button').css('color', '{{ tag.color }}')

        {% endfor %}

        var tagModal = document.getElementById('tagModal')
        tagModal.addEventListener('hidden.bs.modal', function (event) {
            var eventModal = document.getElementById('eventModal')
            var bsModal = bootstrap.Modal.getInstance(eventModal)
            bsModal.show()
        })
        const loc = window.location;
        let wsStart = 'ws://';
        if (loc.protocol == 'https:') {
            wsStart = 'wss://';
        }

        function checkPermission() {
            if (!("Notification" in window)) {
                console.log("This browser does not support desktop notification");
            } else if (Notification.permission === "granted") {
                console.log("granted permission");
            } else if (Notification.permission !== "denied") {
                Notification.requestPermission();
            }
        }

        var event_socket = new WebSocket(wsStart + window.location.host + "/ws/calendar");
        event_socket.onmessage = function (event) {
            var data = JSON.parse(event.data);
            if (data.type === "show_notification") {
                // Create a notification with the message received from the server
                var notification = new Notification("Event Reminder", {
                    body: data.message,
                });
                console.log(data.message);
            }
        };
    </script>

    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("service_7fj9to5");
        })();
    </script>
    <link rel="stylesheet" href="{%static 'css_style/calendarTabStyle.css' %}"/>
    <link rel="stylesheet" href="{%static 'css_style/calendarEventFilter.css' %}"/>


    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
    <style>
        .ts-wrapper.userEmail .ts-control > div .email {
            opacity: 0.7;
        }

        .ts-wrapper.userEmail .ts-control > div .name + .email {
            margin-left: 5px;
        }

        .ts-wrapper.userEmail .ts-control > div .email:before {
            content: '<';
        }

        .ts-wrapper.userEmail .ts-control > div .email:after {
            content: '>';
        }

        .ts-wrapper.userEmail .ts-dropdown .caption {
            font-size: 12px;
            display: block;
            color: #a0a0a0;
        }
    </style>

    <script>
        const t_select = new TomSelect("#select-user-internal", {
            plugins: ['remove_button'],
            persist: false,
            maxItems: null,
            valueField: 'email',
            labelField: 'name',
            searchField: ['username', 'email'],
            options: [
                {% for user in users %}
                    {
                        email: "{{ user.email }}",
                        username: "{{ user.username }}",
                        gravatar: "{{ user.profile.mini_gravatar}}"
                    },
                {% endfor %}
            ],
            create: true,
            createFilter: /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/,
            render: {
                item: function (item, escape) {
                    ;
                    return '<div>' +
                        (item.username ? '<span class="name">' + escape(item.username) + '</span>' : '') +
                        (item.email ? '<span class="email">' + escape(item.email) + '</span>' : '') +
                        '<span class="gravatar">' + '<img class="rounded-circle" src="' + item.gravatar + '"</img></span>' +
                        '</div>';

                },
                option: function (item, escape) {
                    var label = item.username || item.email;
                    var caption = item.username ? item.email : null;
                    return '<div class="row">' + '<div class="col">' +
                        '<span class="label">' + escape(label) + '</span>' +
                        (caption ? '<span class="caption">' + escape(caption) + '</span>' : '') + '</div>' + '<div class="col">' +
                        '<span class="gravatar">' + '<img class="rounded-circle" src="' + item.gravatar + '"</img></span>' +
                        '</div>' +
                        '</div>';
                }
            }
        });

        $('#share_btn').click(function () {
            const selectedUsers = t_select.getValue();
            const csrf = $('input[name="csrfmiddlewaretoken"]').val();
            const url = "{% url 'share_event' 0 %}".replace("0", event_id);

            {% if user%}
                $.ajax({
                    url: url,
                    type: 'POST',
                    async: true,
                    data: {
                        'selected_users[]': selectedUsers,
                        'csrfmiddlewaretoken': csrf
                    },
                    success: function (data) {
                        $('#shareEventModalInternal').modal('hide');
                    }
                });
            {% else %}
                console.log("false")
            {% endif %}

        });
    </script>
    <script>
    const tourCalendar = new Shepherd.Tour({
        useModalOverlay: true,
        defaultStepOptions: {
            exitOnEsc: true
        }
    });

    tourCalendar.addStep({
        id: 'begin',
        text: "Welcome to the tutorial, this will help you to understand features in Notely's calendar. Press Esc at any time to quit this tutorial. Due to a bug shepherd js has, press f10 if the tutorial is not loaded.",
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                sessionStorage.removeItem("eventModalCheck");
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tourCalendar.cancel
            },
            {
                 text: 'Next',
                 action: tourCalendar.next
            }
        ],
    });

    tourCalendar.addStep({
        id: 'left',
        text: "This allows you to change respected time range",
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '.fc-header-toolbar > div:nth-child(1)',
            on: 'bottom'
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tourCalendar.cancel
            },
            {
                 text: 'Back',
                 action: tourCalendar.back
            },
            {
                 text: 'Next',
                 action: tourCalendar.next
            }
        ],
    });

    tourCalendar.addStep({
        id: 'month',
        text: "This is where you can view the calendar in respected range",
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: 'div.fc-button-group:nth-child(1)',
            on: 'bottom'
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tourCalendar.cancel
            },
            {
                 text: 'Back',
                 action: tourCalendar.back
            },
            {
                 text: 'Next',
                 action: tourCalendar.next
            }
        ],
    });

    tourCalendar.addStep({
        id: 'newEvent',
        text: "To create new event, press this. If you want to select multiple tags, simple click on them while pressing Ctrl on the keyboard.",
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#addEvent',
            on: 'top'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                if (sessionStorage.getItem("eventModalCheck") == 'true') {
                    document.querySelector('#addEvent').click();
                    sessionStorage.removeItem("eventModalCheck");
                }
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tourCalendar.cancel
            },
            {
                 text: 'Back',
                 action: tourCalendar.back
            },
            {
                 text: 'Next',
                 action: tourCalendar.next
            }
        ],
    });

    tourCalendar.addStep({
        id: 'sync',
        text: "To sync Notely calendar with Google calendar, please press this link",
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: 'a.btn',
            on: 'top'
        },

        buttons: [
            {
                 text: 'Exit',
                 action: tourCalendar.cancel
            },
            {
                 text: 'Back',
                 action: tourCalendar.back
            },
            {
                 text: 'Next',
                 action: tourCalendar.next
            }
        ],
    });

    tourCalendar.addStep({
        id: 'filter',
        text: "To filter the calendar with desired tag, press the respected buttons.",
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '.fc-footer-toolbar > div:nth-child(3)',
            on: 'top'
        },

        buttons: [
            {
                 text: 'Exit',
                 action: tourCalendar.cancel
            },
            {
                 text: 'Back',
                 action: tourCalendar.back
            },
            {
                 text: 'Next',
                 action: tourCalendar.next
            }
        ],
    });

    tourCalendar.addStep({
        id: 'tutorial',
        text: "this is the end of the tutorial, if you want to watch it again please click this button",
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '.fc-tutorial-button',
            on: 'bottom'
        },
        buttons: [
            {
                 text: 'Back',
                 action: tourCalendar.back
            },
            {
                 text: 'Done',
                 action: tourCalendar.complete
            }
        ],
    });

    if (localStorage.getItem("seen_tour_calendar") == null) {
        tourCalendar.start();
        localStorage.setItem("seen_tour_calendar", "true");
    }

    function tempEvent() {
        sessionStorage.setItem("title", document.querySelector('#id_title').value);
        sessionStorage.setItem("description", document.querySelector('#id_description').value);
        sessionStorage.setItem("start", document.querySelector('#id_start_time').value);
        sessionStorage.setItem("end", document.querySelector('#id_end_time').value);
    }

    function applyTemp() {
        document.getElementById("id_title").value = sessionStorage.getItem("title");
        document.getElementById("id_description").value = sessionStorage.getItem("description");
        document.getElementById("id_start_time").value = sessionStorage.getItem("start");
        document.getElementById("id_end_time").value = sessionStorage.getItem("end");
    }
    </script>
{% endblock %}
