{% extends 'base_content.html' %}
{% block content %}

    <ul class="folder-nav">
      <li style="background-color: white;font-size:23px; font-style: bold;">
          Name
      </li>
      <li>
        <button id="addChoice" data-bs-toggle="modal" data-bs-target="#add" style="margin-right: 20px">
          <span style="margin-left:30px">New</span>
        </button>
      </li>
    </ul>
<div>
<div class="folder-path">
><a href="{%url 'folders_tab' %}" style="color:#1b1b1b;margin-left:20px"><button class="folder-button" style="font-size:20px; background-color:white;">Home</button></a>
{% if folder %}
{% for item in folder.get_path %}
  ><a href="{% url 'sub_folders_tab' item.id%}" style="color:#1b1b1b;margin-left:20px"><button class="folder-button" style="font-size:20px; background-color:white;">{{item.folder_name}}</button></a>
{% endfor %}
{% endif %}
</div>
  </div>
  <div class="folder-container">
    <div class="container">
          {% for item in items %}
              <div class="col" style="margin-left:-60px; width:100%; display: flex; justify-content: space-between; padding: 20px;">
          <div class="col" style="margin-left:-90px; width:60%;">
                {% if item.get_type == "Folder" %}
                <form action="{% url 'sub_folders_tab' item.id %}" method="get">
                    <button id = "folder_img" style="text-align: left; ">
                        <span style="margin-left:40px">{{ item.folder_name }}</span>

                    </button>
                </form>
                {% else %}
                 <form action="{% url 'page' item.last_page.id %}" method="get">
                    <button id="notebook_img" style="text-align: left; ">
                        <span style="margin-left:40px">{{ item.notebook_name }}
                        </span>
                    </button>
                 </form>
                {% endif %}
        </div>
              <select>

                    {% if item.get_type == "Folder" %}
                        <option name="▼">
                            <button>▼</button>
                        </option>
                        <option>
                        <form action="{% url 'delete_folder_tab' item.id %}" method="get">
                            <button>Delete</button>
                        </form>
                        </option>
                    {% else %}
                        <option name="▼">
                        <form action="{% url 'delete_notebook_tab' item.id %}" method="get">
                            <button></button>
                         </form>
                        </option>
                    {% endif %}

              </select>
              </div>
          {% endfor %}


    </div>
  </div>
<br>

{% include 'partials/addChoice.html' %}


{% endblock %}
