{% extends 'base_content.html' %}
{% block content %}
    <div class="folder-path" style="color: rgb(245, 93, 66); margin-left: 30px; height: 50px;">
        ><a href="{%url 'folders_tab' %}" style="margin-left: 20px;"><button class="folder-button" style="font-size: 20px; background-color: white; border: none; color: rgb(245, 93, 66); margin-top: 8px; margin-right: 18px;">Home</button></a>
        {% if folder %}
            {% for item in folder.get_path %}
                ><a href="{% url 'sub_folders_tab' item.id%}" style="margin-left: 18px; color: rgb(245, 93, 66);"><button class="folder-button" style="font-size: 20px; background-color: white; border: none; color: rgb(245, 93, 66);">{{item.folder_name}}</button></a>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="folder-nav" style="height: 50px; color: rgb(245, 93, 66);">
            <div class="col">
                <div style="background-color: white; font-size:23px; margin-left: 60px; color: rgb(245, 93, 66);">
                    Name
                </div>
            </div>
            <div class="col" style="margin-right: 60px;">
                <button id="addChoice" data-bs-toggle="modal" data-bs-target="#add" style="margin-right: 40px; color: rgb(245, 93, 66);">
                    <span style="margin-left: 23px;">New</span>
                </button>
            </div>
        </div>
    </div>
    <div style="height: 800px;">
        <div class="folder-container">
            <div class="container">
                <div class="row mb-4" style="margin-bottom: 10px;">
                    {% for item in items %}
                        <div class="col-md-4" style="height: 100px;  margin-bottom: 60px;">
                            {% if item.get_type == "Folder" %}
                                <form action="{% url 'sub_folders_tab' item.id %}" method="get">
                                    <button id = "folder_img">
                                        {% if item.user == user%}
                                        <button type="button" class="btn btn-white">{{ item.folder_name }}</button>
                                        {% else %}
                                        <span style="margin-left: 80px; color: rgb(245, 93, 66);">{{ item.folder_name }} (shared by {{item.user.username}})</span>
                                        {% endif %}
                                    </button>
                                </form>
                            {% else %}
                                <form action="{% url 'page' item.last_page.id %}" method="get">
                                    <button id="notebook_img" style="text-align: left;">
                                        {% if item.user == user%}
                                            <button type="button" class="btn btn-white">{{ item.notebook_name }}</button></span>
                                        {% else %}
                                          <span style="margin-left: 75px; color: rgb(245, 93, 66);">{{ item.notebook_name }} (shared by {{item.user.username}})</span>
                                        {% endif %}
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                        {% if item.user == user%}
                        <div class="col" style="height: 100px;">
                            {% if item.get_type == "Folder" %}
                                <div class="dropdown">
                                    <button class="dropbtn" style="color: rgb(245, 93, 66);">Options</button>
                                    <div class="dropdown-content">
                                        <a href="{% url 'delete_folder_tab' item.id %}" style="color: rgb(245, 93, 66);">Delete</a>
                                        <a class="share" type="button" data-bs-toggle="modal" data-bs-target="#shareModal"
                                           data-options-url="{% url 'get_options_folder' item.id %}"
                                            data-share-url="{% url 'share_folder' item.id%}"
                                           data-share-ex-url="{% url 'share_folder_ex' item.id%}">Share</a>
                                        <a href="#" style="color: rgb(245, 93, 66);">Link 3</a>
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    <div class="dropdown">
                                        <button class="dropbtn" style="color: rgb(245, 93, 66);">Options</button>
                                        <div class="dropdown-content">
                                            <a href="{% url 'delete_notebook_tab' item.id %}" style="color: rgb(245, 93, 66);">Delete</a>
                                            <a class="share" type="button" data-bs-toggle="modal" data-bs-target="#shareModal"
                                             data-options-url="{% url 'get_options_notebook' item.id %}"
                                                data-share-url="{% url 'share_notebook' item.id%}"
                                            data-share-ex-url="{% url 'share_notebook_ex' item.id%}">Share</a>
                                            <a href="#" style="color: rgb(245, 93, 66);">Link 3</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>

    <style>
        .dropbtn {
            background-color: white;
            color: black;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #ddd;}
        .dropdown:hover .dropdown-content {display: block;}
        .dropdown:hover .dropbtn {background-color: gray;}
    </style>
    </div>
    {% include 'partials/addChoice.html' %}
    {% include 'partials/shareModal.html' %}
{% endblock %}

{% block scripts %}
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
    <script>
        let createdUsers = [];
        const t_select = new TomSelect("#select-user", {
            create: true,
            createOnBlur: true,
            createFilter: function (input) {
                return input.trim().length > 0;
            },
            plugins: ['remove_button'],
            persist: false,
            maxItems: null,
            valueField: 'email',
            labelField: 'name',
            searchField: ['username', 'email'],
            options: [],
            render: {
                item: function(item, escape) {
                    return '<div>' +
                        (item.username ? '<span class="name">' + escape(item.username) + '</span>' : '') +
                        (item.email ? '<span class="email">' + escape(item.email) + '</span>' : '') +
                        '<span class="gravatar">' + '<img class="rounded-circle" src="' + item.gravatar + '"</img></span>' +
                        '</div>';
                    },
                option: function(item, escape) {
                    var label = item.username || item.email;
                    var caption = item.username ? item.email : null;
                    return '<div class="row">' + '<div class="col">' +
                        '<span class="label">' + escape(label) + '</span>' +
                        (caption ? '<span class="caption">' + escape(caption) + '</span>' : '') + '</div>' + '<div class="col">' +
                        '<span class="gravatar">' + '<img class="rounded-circle" src="' + item.gravatar + '"</img></span>' +
                        '</div>' +
                        '</div>';
                }
            },
            item_added: function (value, $item) {
                createdUsers = this.options[value];
                console.log(value)
                const isCreatedItem = value === option.text;
                if (isCreatedItem) {
                    console.log('Newly created item added:', value);
                    // Your custom logic when a newly created item is added
                }
        },
        });
        t_select.on('item_add', function(value, $item) {
            console.log('New item added:', value);
            createdUsers.push(value);
        });
        let share_url;
        $('.share').click(function (){
            console.log("hello")
            share_url = this.getAttribute('data-share-url')
            share_url_2 = this.getAttribute('data-share-ex-url')
            $.ajax({
                url: this.getAttribute('data-options-url'),
                success: function (data){
                    t_select.clearOptions();
                    for (const option of data) {
                            t_select.addOption(option);

                    }
                },
                error: function (){
                    alert('Error retrieving data');
                }
            });
        });

        $('#shareBtn').click(function () {
            let selectedUsers = t_select.getValue();
            const edit_perm = $('#editBox').prop('checked');
            selectedUsers = selectedUsers.filter((item) => !createdUsers.includes(item));
            console.log(selectedUsers);
            console.log(createdUsers);
            if(selectedUsers.length > 0) {
                $.ajax({
                    url: share_url,
                    type: 'POST',
                    async: true,
                    data: {
                        'selected_users[]': selectedUsers,
                        'edit_perm': edit_perm,
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    },
                });
            }
            if(createdUsers.length > 0) {
                $.ajax({
                    url: share_url_2,
                    type: 'POST',
                    async: true,
                    data: {
                        'createdUsers[]': createdUsers,
                        'edit_perm': edit_perm,
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    },
                });
            }
            while(selectedUsers.length!=0){
                t_select.removeOption(selectedUsers[0]);
            }
        });
    </script>
{% endblock %}
