{% extends 'base_content.html' %}
{% block content %}
<title> Help </title> 
<body>
    <ul class="nav">
      <li><a href="#">Folders</a></li>
      <li><a href="#">Notes</a></li>
      <li><a href="#">Calendar</a></li>
    </ul>
    <div class="toolbox">
      <section>
        <h3>Folders</h3>
      </section>
      <section>
        <h3>Notes</h3>
        <ul>
          <li><a href="#">Drawing</a></li>
          <li><a href="#">Text</a></li>
          <li><a href="#">Upload</a></li>
          <li><a href="#">Special Symbols</a></li>
          <li><a href="#">Code Editor</a></li>
          <li><a href="#">Linking Page</a></li>
          <li><a href="#">Page Tags</a></li>
          <li><a href="#">Erase/ Delete</a></li>
        </ul>
      </section>
      <section>
        <h3>Calendar</h3>
        <ul>
          <li><a href="#">View Calendar</a></li>
          <li><a href="#">Add/ Edit/ Delete Events</a></li>
          <li><a href="#">Sync Google Calendar</a></li>
          <li><a href="#">Event Tags</a></li>
          <li><a href="#">Event Reminder</a></li>
          <li><a href="#">Share Events</a></li>
          <li><a href="#">Event Invitation</a></li>

        </ul>
      </section>
    </div>
</body>

{% endblock %}
