{% extends 'base.html' %}
{% include 'bootstrap.html' %}
{% block body %}

<nav class="navbar-custom navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item float-left">
        <img class = "icon-image" src="static/home_page_image/notebookicon.jpg">
      </li>
      <li class="nav-item float-left">
        <a href="#"><button class="header-home-button">Notely</button></a>
      </li>
      <li class="nav-item float-left ml-auto" style="margin-left: 62em;">
        <a href="{% url 'sign_up' %}"><button class="header-button">Sign Up</button></a>
      </li>
      <li class="nav-item float-left ml-auto">
        <a href="{% url 'log_in' %}"><button class="header-button">Log In</button></a>
      </li>
    </ul>
  </div>
</nav>
<div class="card-columns">
  <div class="my-card">
    <div class="row">
      <div class="col-sm-6">
        <header class="my-header">Online Note Taking Website</header>
        <body>
          Supporting both drawing and typing function, make things easy for u to take note.....
          Don't have an account?
          Free join now!.....
        </body>
        <p><a href="{% url 'sign_up' %}">
          <button class="first-card-button">Sign Up </button>
        </a></p>
      </div>
      <div class="col-sm-6">
        <img src="static/home_page_image/takingnote.jpg" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="my-card">
    <div class="row">
      <div class="col-sm-6">
        <img src="static/home_page_image/canvas.jpg" class="img-fluid">
      </div>
    <div class="col-sm-6">
      <header class="my-header">Take down your ideas with our magic canvas</header>
      <body>
        You can feel free to use our tool picker to draw or hightlight notes
      </body>
    </div>
  </div>
  </div>
  <div class="my-card">
    <div class="row">
    <div class="col-sm-6">
      <header class="my-header">Book an event for your note</header>
      <body>
        We allow user to book an event with calendar for notes. User can also set reminder for his event.
      </body>
    </div>
    <div class="col-sm-6">
      <img src="static/home_page_image/bookingevent.jpg" class="img-fluid">
    </div>
    </div>
  </div>
  <div class="my-card">
    <div class="row">
      <div class="col-sm-6">
        <img src="static/home_page_image/sharingnote.jpg" class="img-fluid">
      </div>
    <div class="col-sm-6">
      <header class="my-header">Taking notes with your friends</header>
      <body>
        User can also share notes with others.
      </body>
    </div>
  </div>
  </div>
</div>
<br>
<div id="footer-menu">
  <a href="#"><button class="footer-button">Home</button></a> |
  <a href="#"><button class="footer-button">About</button></a> |
  <a href="#"><button class="footer-button">Contact</button></a> |
  <a href="#"><button class="footer-button">Privacy Policy</button></a>
</div>



{% endblock %}
