{% extends 'base.html' %}
{% block body %}
  <body>
  <div class="page-form">
    <h1>Log In</h1>
    <div class="content">
        {%for message in messages%}
            <p><b>{{ message }}</b></p>
        {%endfor%}

        <form action="{% url 'log_in' %}" method="post">
            {% csrf_token %}
            <div class="input-field">
            <input type="hidden" name="next" value = "{{ next }}">
            {{form.as_p}}
            </div>
            <div class="action">
            <button>
            <input type="submit" value="Log in" class="button">
            </button>
        </div>
            <div class="container">
            <p>Don't have an account?</p>
                <a class="dropdown-item" href="{% url 'sign_up' %}">Sign up here</a>
                <br><br>
            </div>
    </form>
    </div>
    </div>
    </body>
     {% endblock %}
