{% extends 'base_content_without_footer.html' %}
{% block content %}

    {% if page.notebook.folder %}
        <a href={% url 'sub_folders_tab' page.notebook.folder.id %} style="color:rgb(60,120,216);margin-left:20px;"> <i
                class="bi bi-arrow-left"></i> Go back</a>
    {% else %}
        <a href={% url 'folders_tab' %} style="color:rgb(60,120,216);margin-left:20px;font-size:18px;"> <i
                class="bi bi-arrow-left"></i> Go back</a>
    {% endif %}
    <button style="color: rgb(60, 120, 216);background-color: transparent;" onclick="startTour();">Start Tour</button>
    <canvas id="canvas"></canvas>
    <nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                {% if can_edit %}
                    <li class="nav-item">
                        <button class="toolbox" id="clearAll" onclick="clearCanvas(canvas)"
                                style="color: rgb(60, 120, 216);"></button>
                    </li>
                    <li class="nav-item">
                        <button class="toolbox" id="undo" onclick="undo(this)"
                                style="color: rgb(60, 120, 216);"></button>
                    </li>
                    <li class="nav-item">
                        <button class="toolbox" id="redo" onclick="redo(this)"
                                style="color: rgb(60, 120, 216);"></button>
                    </li>
                    <li class="nav-item">
                        <button class="toolbox" id="select" onclick="toggleSelect(this)"></button>
                    </li>
                    <div class="accordion accordion-flush" id="accordionFlush">
                    <div class="accordion-item">
                    <li class="accordion-header" id="flush-headingPen">
                        <li class="nav-item">
                        <button class="toolbox" id="draw" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePen"
                                aria-expanded="false" aria-controls="flush-collapsePen" onclick="toggleDraw(this)"></button>
                        </li>
                    </li>
                    <div id="flush-collapsePen" class="accordion-collapse collapse" aria-labelledby="flush-headingPen" data-bs-parent="#accordionFlush">
                        <li class="nav-item">
                            <div style="min-height: 120px;">
                                <div class="card card-body" style="width: 300px;">
                                    <label>Pen Mode</label>
                                    <select id="chooseMode" style="color: rgb(60, 120, 216);">
                                    <option value="circle">Circle Brush</option>
                                    <option value="crayon">Crayon</option>
                                    <option value="ink">Ink Pen</option>
                                    <option value="fur">Fur Brush</option>
                                    <option value="longfur">Long Fur Brush</option>
                                    <option value="marker">Marker</option>
                                    <option value="ribbon">Ribbon Brush</option>
                                    <option value="shaded">Shaded Brush</option>
                                    <option value="sketchy">Sketchy Brush</option>
                                    <option value="spraypaint">Spray Paint</option>
                                    <option value="square">Square brush</option>
                                    <option value="web">Web Brush</option>
                                </select>
                                <label>Pen Colour</label>
                                <input id='choosePenColor' value="#000000" data-jscolor="" style="color: rgb(60, 120, 216);">
                                <label>Pen Width</label>
                                <input id='chooseWidth' value='1' type=range min='1' max='20'>
                            </div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="accordion-item">
                    <li class="accordion-header" id="flush-headingText">
                        <li class="nav-item">
                            <button class="toolbox" id="text" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseText" aria-expanded="false"
                                    aria-controls="flush-collapseText" onclick="toggleText(this)" style="color: rgb(60, 120, 216);">
                            </button>
                        </li>
                    </li>
                    <div id="flush-collapseText" class="accordion-collapse collapse" aria-labelledby="flush-headingText" data-bs-parent="#accordionFlush">
                        <li class="nav-item">
                            <div style="min-height: 120px;">
                                <div class="card card-body" style="width: 300px; color: rgb(60, 120, 216);">
                                    <label>Text Colour</label>
                                    <input id='chooseTextColor' value="#000000" data-jscolor="" style="color: rgb(60, 120, 216);">
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
                    <li class="nav-item">
                        <button class="toolbox" id="erase" type="button" onclick="toggleErase(this)"
                                style="color: rgb(60, 120, 216);">
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="toolbox" id="upload" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseUpload" aria-expanded="false"
                                aria-controls="collapseUpload" style="color: rgb(60, 120, 216);"></button>
                    </li>
                    <li class="nav-item">
                        <div style="min-height: 120px;">
                            <div class="collapse collapse-horizontal" id="collapseUpload"
                                 style="color: rgb(60, 120, 216);">
                                <div class="card card-body" style="width: 300px; color: rgb(60, 120, 216);">
                                    <input id="img" class="toolbox" type="file" accept="image/*">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <button class="toolbox" id="table" type="button"></button>
                        <div id="tableModal" class="modal">
                            <div class="modal-content">
                                <span class="close" style="color: rgb(60, 120, 216); margin-left: 20px;">&times;</span>
                                <form style="margin-top: 10px;">
                                    <label for="rows" style="color: rgb(60, 120, 216); margin-left: 20px;">Rows:</label>
                                    <input type="number" id="rows" name="rows" value="2" min="1"
                                           style="color: rgb(60, 120, 216);"><br><br>
                                    <label for="columns"
                                           style="color: rgb(60, 120, 216); margin-left: 20px;">Columns:</label>
                                    <input type="number" id="columns" name="columns" value="2" min="1"
                                           style="color: rgb(60, 120, 216);"><br><br>
                                    <input type="button" value="Submit" id="submitTable"
                                           style="background-color: rgb(60, 120, 216, 0.1); border-color: rgb(60, 120, 216, 0.5); width: 100px; color: rgb(60, 120, 216); margin-left: 20px; margin-bottom: 10px; border-radius: 5px;">
                                </form>
                            </div>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <button class="toolbox" id="showCodeEditor" data-bs-toggle="modal" data-bs-target="#codeEditor"
                            style="color: rgb(60, 120, 216);"></button>
                </li>
                {% if can_edit %}
                    <li class="nav-item">
                        <button class="toolbox" id="showSymbols" data-bs-toggle="modal" data-bs-target="#symbols"
                                style="color: rgb(60, 120, 216);"></button>
                    </li>
                    <li class="nav-item">
                        <button class="toolbox" id="linkPage" data-bs-toggle="offcanvas" href="#sidebar"
                                aria-controls="sidebar" style="color: rgb(60, 120, 216);">
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="toolbox" id="template" type="button" data-bs-toggle="modal"
                                data-bs-target="#templateModal" style="color: rgb(60, 120, 216);">
                        </button>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <button class="toolbox" id="download" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseDownload" aria-expanded="false"
                            aria-controls="collapseDownload" style="color: rgb(60, 120, 216);"></button>
                </li>
                <li class="nav-item">
                    <div style="min-height: 120px;">
                        <div class="collapse collapse-horizontal" id="collapseDownload"
                             style="color: rgb(60, 120, 216);">
                            <div class="card card-body" style="width: 300px; color: rgb(60, 120, 216);">
                                <button id="downloadAsPic" type="button">Download as PNG</button>
                            </div>
                            <div class="card card-body" style="width: 300px; color: rgb(60, 120, 216);">
                                <button id="downloadAsPdf" type="button">Download as PDF</button>
                            </div>
                        </div>
                    </div>
                </li>

                {% if user == page.notebook.user %}
                    <li class="nav-item">
                        <button class="toolbox" id="sharePage" type="button" data-bs-toggle="modal"
                                data-bs-target="#shareModal" style="color: rgb(60, 120, 216);">
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class="toolbox" id="event" type="button" data-bs-toggle="modal"
                                data-bs-target="#pageEventModal" style="color: rgb(60, 120, 216);">
                        </button>
                    </li>

                {% endif %}
            </ul>
        </div>
    </nav>
    {% include 'partials/pageEventModal.html' %}
    {% include 'partials/symbols.html' %}
    {% include 'partials/templateModal.html' %}
    {% include 'partials/shareModal.html' %}
    {% include 'partials/codeEditor.html' %}
{% endblock %}
{% block scripts %}
    <style>
        .cm-scroller {
            overflow: auto;
            min-height: 200px;
            max-height: 350px
        }

        .closeBtn {
            background: none;
            border: none
        }

        .closeBtn:hover {
            background-color: #e0e0e0;
        }
    </style>
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="{% static 'javascript/note-taking/fabric.min.js' %}"></script>
    <script src="{% static 'javascript/note-taking/editor.bundle.js' %}"></script>
    <script>
        const can_edit = "{{can_edit}}";
        let counter = {{ page.editors.all|length|add:"1" }};
        const editors = [];
        {% for editor in page.editors.all %}
            editors.push(cm6.createEditor('{{ editor.code|escapejs }}', "#code{{forloop.counter}}"))
        {% endfor %}
        const page_id = "{{ page.id }}";
        const drawing = '{{ page.drawing|safe}}';
        const template_url = "{% url 'save_template' 0 %}".replace("0", page_id);

        const csrf = "{{ csrf_token }}";
    </script>
    <script src="{% static 'javascript/note-taking/editor_modal.js' %}"></script>
    <script src="{% static 'javascript/note-taking/draw.js' %}"></script>
    <script src="{% static 'javascript/jspdf.min.js' %}"></script>
    <script src="{% static 'javascript/download.js' %}"></script>
    <script src="{% static 'javascript/note-taking/template.js' %}"></script>
    <script src="{% static 'javascript/fileSaver.min.js' %}"></script>
    <script src="{% static 'javascript/canvas-toBlob.js' %}"></script>
    {% if can_edit %}
        <script src="{% static 'javascript/note-taking/symbols.js' %}"></script>
        <script src="{% static 'javascript/note-taking/linkPage.js' %}"></script>
        <script src="{% static 'javascript/note-taking/table.js' %}"></script>
        <script src="{% static 'javascript/note-taking/fabric.brushes.min.js' %}"></script>
        <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
        <style>
            .ts-wrapper.userEmail .ts-control > div .email {
                opacity: 0.7;
            }

            .ts-wrapper.userEmail .ts-control > div .name + .email {
                margin-left: 5px;
            }

            .ts-wrapper.userEmail .ts-control > div .email:before {
                content: '<';
            }

            .ts-wrapper.userEmail .ts-control > div .email:after {
                content: '>';
            }

            .ts-wrapper.userEmail .ts-dropdown .caption {
                font-size: 12px;
                display: block;
                color: #a0a0a0;
            }
        </style>
        <script>
            const createdUsers = [];
            const t_select = new TomSelect("#select-user", {
                create: true,
                createFilter: /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/,
                plugins: ['remove_button'],
                persist: false,
                maxItems: null,
                valueField: 'email',
                labelField: 'name',
                searchField: ['username', 'email'],
                options: [
                    {% for user in users %}
                        {
                            email: "{{ user.email }}",
                            username: "{{ user.username }}",
                            gravatar: "{{ user.profile.mini_gravatar}}"
                        },
                    {% endfor %}
                ],
                render: {
                    item: function (item, escape) {
                        ;
                        return '<div>' +
                            (item.username ? '<span class="name">' + escape(item.username) + '</span>' : '') +
                            (item.email ? '<span class="email">' + escape(item.email) + '</span>' : '') +
                            '<span class="gravatar">' + '<img class="rounded-circle" src="' + item.gravatar + '"</img></span>' +
                            '</div>';
                    },
                    option: function (item, escape) {
                        var label = item.username || item.email;
                        var caption = item.username ? item.email : null;
                        return '<div class="row">' + '<div class="col">' +
                            '<span class="label">' + escape(label) + '</span>' +
                            (caption ? '<span class="caption">' + escape(caption) + '</span>' : '') + '</div>' + '<div class="col">' +
                            '<span class="gravatar">' + '<img class="rounded-circle" src="' + item.gravatar + '"</img></span>' +
                            '</div>' +
                            '</div>';
                    }
                }
            });
            const originalList = JSON.parse(JSON.stringify(t_select.options));
            t_select.on('item_add', function (value, item) {
                if (!(value in originalList)) {
                    createdUsers.push(value)
                }
            });
            const t_select2 = new TomSelect('#search-bar', {
                valueField: 'id',
                searchField: 'page_number',
                options: [
                    {% for page in viewable_pages %}
                        {% if page.thumbnail %}
                            {id: "{{ page.id }}", image: "{{ page.thumbnail.url }}", page_number: "{{page.get_page_number}}"},
                        {% endif %}
                    {% endfor %}
                ],
                render: {
                    option: function (data, escape) {
                        return '<div>' +
                            '<span class="id">' + escape(data.page_number) + '</span>' +
                            '<span>' + '<img src="' + escape(data.image) + '">' + '</span>' +
                            '</div>';
                    },
                    item: function (data, escape) {
                        return '<div>' + escape(data.page_number) + '</div>';
                    }
                }

            });
            $('#shareBtn').click(function () {
                const selectedUsers = t_select.getValue();
                const existingUsers = selectedUsers.filter(user => !createdUsers.includes(user));
                const nonExistingUsers = selectedUsers.filter(user => createdUsers.includes(user));
                const edit_perm = $('#editBox').prop('checked');
                if (existingUsers.length !== 0) {
                    $.ajax({
                        url: "{% url 'share_page' page.id %}",
                        type: 'POST',
                        async: true,
                        data: {
                            'selected_users[]': existingUsers,
                            'edit_perm': edit_perm,
                            csrfmiddlewaretoken: csrf
                        },
                    });
                }
                if (nonExistingUsers.length !== 0) {
                    $.ajax({
                        url: "{% url 'share_page_ex' page.id %}",
                        type: 'POST',
                        async: true,
                        data: {
                            'selected_users[]': nonExistingUsers,
                            'edit_perm': edit_perm,
                            csrfmiddlewaretoken: csrf
                        },
                    });
                }

                while (selectedUsers.length != 0) {
                    t_select.removeOption(selectedUsers[0]);
                }
            });
            $('#search-button').click(function () {
                const selectedPages = t_select2.getValue();
                $(".page").hide();
                selectedPages.forEach(page => {

                    $(".page[data-page2-id*=" + page + "]").show();
                });
            });
            const loc = window.location;
            let wsStart = 'ws://';
            if (loc.protocol == 'https:') {
                wsStart = 'wss://';
            }
            const socket = new WebSocket(wsStart + window.location.host + "/ws/page" + "/{{ page.id }}/");
            socket.onopen = function () {
                console.log('connected');
            };

            const t_select_event = new TomSelect("#select-user-internal", {
                plugins: ['remove_button'],
                persist: false,
                maxItems: null,
                valueField: 'email',
                labelField: 'name',
                searchField: ['username', 'email'],
                options: [
                    {% for user in users %}
                        {
                            email: "{{ user.email }}",
                            username: "{{ user.username }}",
                            gravatar: "{{ user.profile.mini_gravatar}}"
                        },
                    {% endfor %}
                ],
                create: true,
                render: {
                    item: function (item, escape) {
                        ;
                        return '<div>' +
                            (item.username ? '<span class="name">' + escape(item.username) + '</span>' : '') +
                            (item.email ? '<span class="email">' + escape(item.email) + '</span>' : '') +
                            '<span class="gravatar">' + '<img class="rounded-circle" src="' + item.gravatar + '"</img></span>' +
                            '</div>';

                    },
                    option: function (item, escape) {
                        var label = item.username || item.email;
                        var caption = item.username ? item.email : null;
                        return '<div class="row">' + '<div class="col">' +
                            '<span class="label">' + escape(label) + '</span>' +
                            (caption ? '<span class="caption">' + escape(caption) + '</span>' : '') + '</div>' + '<div class="col">' +
                            '<span class="gravatar">' + '<img class="rounded-circle" src="' + item.gravatar + '"</img></span>' +
                            '</div>' +
                            '</div>';
                    }
                }
            });


            $('#share_btn').click(function () {
                const selectedUsers = t_select_event.getValue();
                const csrf = $('input[name="csrfmiddlewaretoken"]').val();
                const url = "{% url 'share_event' 0 %}".replace("0", event_id);

                {% if user%}
                    $.ajax({
                        url: url,
                        type: 'POST',
                        async: true,
                        data: {
                            'selected_users[]': selectedUsers,
                            'csrfmiddlewaretoken': csrf
                        },
                        success: function (data) {
                            $('#shareEventModalInternal').modal('hide');
                        }
                    });
                {% else %}
                    console.log("false")
                {% endif %}

            });
        </script>
        <script src="{% static 'javascript/note-taking/sync_page.js' %}"></script>
    {% endif %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
    <script>
        console.log(document.getElementById('calendar'));
        let event_id;
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: false,
            initialView: 'listWeek',
            events: [
                {% for event in events %}
                    {
                        id: "{{event.id}}",
                        title: "{{ event.title}}",
                        start: '{{ event.start_time|date:"Y-m-d H:i:s" }}',
                        end: '{{ event.end_time|date:"Y-m-d H:i:s" }}',
                        backgroundColor: '{{ event.tags.first.color }}',
                        tags: "{% for tag in event.tags.all %}{{ tag.title }},{% endfor %}".slice(0, -1),
                    },
                {% endfor %}
            ],

            eventClick: function (e) {
                event_id = e.event.id;
                $.ajax({
                    url: "{% url 'event_detail' 0 %}".replace("0", e.event.id),
                    success: function (data) {
                        $('#edetail').html(data.html);
                        if (data.event_user_id !== {{user.id}}) {
                            $('#eventModalFooter').hide();
                        }
                        console.log("data_euser", data.event_user_id)
                        console.log("data_user", {{user.id}})
                        console.log(e.event.id)
                    },
                    error: function () {
                        alert('Error retrieving event detail');
                    }
                });
                $.ajax({
                    url: "{% url 'get_options_event' 0 %}".replace("0", e.event.id),
                    success: function (data) {
                        t_select.clearOptions();
                        for (const option of data) {
                            t_select.addOption(option);
                        }
                    },
                    error: function () {
                        alert('Error retrieving data');
                    }
                });
                $('#eventDetail').modal('show');
                $('#delete_link').attr('href', "{% url 'delete_event' 0 %}".replace("0", e.event.id))
            },
            editable: true,
            eventDrop: function (info) {
                const event = info.event;
                const start = event.start.toISOString();
                const end = event.end.toISOString();
                // send updated start and end times to server to update database
                $.ajax({
                    url: "{% url 'update_event' 0 %}".replace("0", event.id),
                    type: 'POST',
                    data: {
                        start: start,
                        end: end,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                });
            },
        });

        calendar.render();
        $(document).ready(function () {
            $('.modal-draggable .modal-dialog').draggable({
                handle: ".modal-header"
            });
        });
    </script>
    <script>
        $(document).click(function(e) {
            if ($("#draw").is(e.target)) {
                sessionStorage.setItem("currentTool", "draw");
            }

            if ($("#text").is(e.target)) {
                sessionStorage.setItem("currentTool", "text");
            }

            if ($("#erase").is(e.target)) {
                sessionStorage.setItem("currentTool", "erase");
            }

            if (!$("#draw").is(e.target) && !$("#draw").has(e.target).length) {
                if ($("#draw").attr("aria-expanded") == 'true') {
                    document.querySelector('#draw').click();
                }
            }

            if (!$("#text").is(e.target) && !$("#text").has(e.target).length) {
                if ($("#text").attr("aria-expanded") == 'true') {
                    document.querySelector('#text').click();
                }
            }




        });
    </script>
    <script>
    const tour = new Shepherd.Tour({
        useModalOverlay: true,
        defaultStepOptions: {
            exitOnEsc: true
        }
    });

    tour.addStep({
        id: 'begin',
        text: "Welcome to the tutorial, this will help you to understand features in Notely's pages. Due to a bug shepherd js has, press f10 if the tutorial is not loaded",
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                sessionStorage.removeItem("codeEditorCheck");
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'clearAll',
        text: 'This button clears the whole page.',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#clearAll',
            on: 'top'
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'undo',
        text: 'This button undo the last input on the canvas.',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#undo',
            on: 'top'
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'redo',
        text: 'This button redo the previous undo.',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#redo',
            on: 'top'
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'select',
        text: 'This button gives mouse the ability to select all included inputs.',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#select',
            on: 'top'
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'draw',
        text: 'This button gives the mouse the ability to draw on the canvas.',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#draw',
            on: 'top'
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'text',
        text: 'This button gives the mouse the ability to create a text field.',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#text',
            on: 'top'
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'erase',
        text: 'This button gives mouse the ability to erase pixels.',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#erase',
            on: 'top'
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'upload',
        text: 'This button imports a selected image into the canvas.',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#upload',
            on: 'top'
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'table',
        text: 'This button insert a table into the canvas.',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#table',
            on: 'top'
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'showCodeEditor',
        text: 'This button creates a code editor on the canvas.',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#showCodeEditor',
            on: 'top'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                if (sessionStorage.getItem("codeEditorCheck") == "true") {
                    document.querySelector('#codeEditor > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button:nth-child(2)').click();
                    sessionStorage.removeItem("codeEditorCheck");
                }
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],

    });

    tour.addStep({
        id: 'codeEditor',
        text: 'By clicking the name of the code editor twice it allows you to rename it',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '.editorTab',
            on: 'top'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                if (sessionStorage.getItem("codeEditorCheck") == null) {
                    document.querySelector('#showCodeEditor').click();
                    sessionStorage.setItem("codeEditorCheck", "true");
                }
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'moreTab',
        text: 'By clicking the button it allows you to add a new tab',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#add-tab-btn',
            on: 'top'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                if (sessionStorage.getItem("codeEditorCheck") == null) {
                    document.querySelector('#showCodeEditor').click();
                    sessionStorage.setItem("codeEditorCheck", "true");
                }
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'codeEdHelp',
        text: 'More help can be found here',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#help_btn',
            on: 'top'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                if (sessionStorage.getItem("codeEditorCheck") == null) {
                    document.querySelector('#showCodeEditor').click();
                    sessionStorage.setItem("codeEditorCheck", "true");
                }
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'showTemplate',
        text: 'This tool allows you to group selected canvas objects together for duplications.',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#template',
            on: 'top'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                if (sessionStorage.getItem("codeEditorCheck") == "true") {
                    document.querySelector('#codeEditor > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button:nth-child(2)').click();
                    sessionStorage.removeItem("codeEditorCheck");
                }
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'templateExplain',
        text: 'By clicking Apply Template Notely will store the canvas objects that you have already selected',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#addTemplate',
            on: 'top'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                if (sessionStorage.getItem("codeEditorCheck") == null) {
                    document.querySelector('#template').click();
                    sessionStorage.setItem("codeEditorCheck", "true");
                }
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'templateHelp',
        text: 'More help can be found here',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#helpTool',
            on: 'top'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                if (sessionStorage.getItem("codeEditorCheck") == null) {
                    document.querySelector('#template').click();
                    sessionStorage.setItem("codeEditorCheck", "true");
                }
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'showShare',
        text: 'To share the page with others, press this.',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: '#sharePage',
            on: 'top'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                if (sessionStorage.getItem("codeEditorCheck") == "true") {
                    document.querySelector('#templateModal > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button:nth-child(2)').click();
                    sessionStorage.removeItem("codeEditorCheck");
                }
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'shareExplain',
        text: "Enters username to find internal user. Pages can also be shared externally by emails, simply enters them.",
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: 'div.userEmail:nth-child(2)',
            on: 'top'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                if (sessionStorage.getItem("codeEditorCheck") == null) {
                    document.querySelector('#sharePage').click();
                    sessionStorage.setItem("codeEditorCheck", "true");
                }
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Exit',
                 action: tour.cancel
            },
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Next',
                 action: tour.next
            }
        ],
    });

    tour.addStep({
        id: 'tutorial',
        text: 'That is the end of the tutorial, if you want to watch it again please click this button',
        scrollTo: {
            behavior: 'smooth',
            block: 'center'
        },
        attachTo: {
            element: 'body > button:nth-child(12)',
            on: 'bottom'
        },
        beforeShowPromise: function() {
            return new Promise(function(resolve) {
                document.querySelector('#shareModal > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button:nth-child(2)').click();
                sessionStorage.removeItem("codeEditorCheck");
                resolve();
            });
        },
        buttons: [
            {
                 text: 'Back',
                 action: tour.back
            },
            {
                 text: 'Done',
                 action: tour.complete
            }
        ],
    });


    if (localStorage.getItem("seen_tour") == null) {
        tour.start();
        localStorage.setItem("seen_tour", "true");
    }

    function startTour() {
        tour.start();
    }
    </script>

{% endblock %}
