{% extends 'base_content.html' %}
{% block content %}
        <div class="profile container my-5 w-50" style="width: 1000px; height: 600px">
          <div class="header">
            <p class="h2 fw-bold" style="color: rgb(245, 93, 66); font-size: 40px;">
                <i class="bi bi-gear" ></i> CHANGE YOUR PASSWORD</p>
          </div>
          <hr class="profile-hr">
          <div class="profile-content" style="color: rgb(245, 93, 66); font-size: 15px">
            <form action="{% url 'password_tab' %}" method="post">
              {% csrf_token %}
              {% include 'partials/bootstrap_form.html' with form=form %}
              <input type="submit" value="Change password" class="btn-chocolate fw-bold" style="color: rgb(245, 93, 66); font-size: 15px">
            </form>
          </div>
        </div>
{% endblock %}