{% extends 'base_content.html' %}
{% block content %}
<div class="profile container my-5 w-50">
  <div class="header">
    <p class="h2 fw-bold"><i class="bi bi-gear"></i> CHANGE YOUR PASSWORD</p>
  </div>
  <hr class="profile-hr">
  <div class="profile-content">
    <form action="{% url 'password_tab' %}" method="post">
      {% csrf_token %}
      {% include 'partials/bootstrap_form.html' with form=form %}
      <input type="submit" value="Change password" class="btn btn-chocolate fw-bold">
    </form>
  </div>
</div>
{% endblock %}