{% extends 'base_content.html' %}
{% block content %}
    <br>

    <div class="container" style="margin-left: 10px; color: rgb(60, 120, 216);">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col text-center">
                <img src="{{ user.profile.gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle">
                <p class=" h1 fw-bold">
                    {{ user.username|upper }}
                </p>
                <a class="nav-link px-2" style="font-size: 20px; color: rgb(60, 120, 216);"
                   href="{% url 'password_tab' %}" id="reg">Change Password</a>
                <button class="edit h6 fw-bold collapse multi-collapse show" id="EditButton"
                        style="font-size: 15px; color: rgb(60, 120, 216); margin-top: 15px;"
                        data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" ;
                        aria-controls="personalDetails userProfileForm EditButton">
                    <a> <i class="bi bi-pencil-square"></i> Edit</a>
                </button>
            </div>

            <div class="col" style="border-left: 5px solid rgb(60, 120, 216);">
                <div class="header">
                    <p class="h2 fw-bold"
                       style="margin-bottom:25px; font-size: 50px; color: rgb(60, 120, 216); text-align: center;">
                        PERSONAL DETAILS</p>
                </div>

                <div class="card"
                     style="width: 600px; margin-left: 100px; box-shadow: 2px 2px 4px grey; margin-top: 30px;">
                    <div style="margin-left: 30px;">
                    <p class="profile-email h6" style="font-size: 22px; margin-top: 13px;">
                        <em>Email: {{ user.email }}</em></p>
                    <p class="profile-email h6" style="font-size: 22px; margin-top: 15px;">
                        <em>Last log in: {{ user.last_login }}</em></p>
                </div>
                </div>

                <div class="card"
                     style="width: 600px; margin-left: 100px; box-shadow: 2px 2px 4px grey; margin-top: 30px;">
                    <div style="margin-left: 30px; margin-right: 30px;">
                        <div class="profile">
                            <div class="profile-content">
                                <form action="{% url 'profile_tab' %}" method="post" id="userProfileForm"
                                      class="collapse multi-collapse">
                                    {% csrf_token %}
                                    {% include 'partials/bootstrap_form.html' with form=user_form %}
                                    {% include 'partials/bootstrap_form.html' with form=profile_form %}
                                    <input type="submit" value="Save Changes" class="btn-chocolate fw-bold"
                                           style="color: rgb(60, 120, 216)">
                                </form>
                            </div>
                            <div id="personalDetails" class="collapse multi-collapse show" style="font-size: 22px; margin-top: 12px;">
                                <p>First Name: {{ user.first_name }} </p>
                                <p>Last Name: {{ user.last_name }}</p>
                                <p>Date of Birth: {{ user.profile.dob }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                     style="width: 600px; margin-left: 100px; box-shadow: 2px 2px 4px grey; margin-top: 30px;">
                    <div style="margin-left: 30px;">
                        <div class="profile">
                            <div id="personalDetails" class="collapse multi-collapse show" style="font-size: 22px; margin-top: 12px;">
                                <p>Address: {{ user.profile.address }}</p>
                                <p>Date joined: {{ user.date_joined }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
