{%extends 'base_content.html'%}
{%block content%}
<br>
<div class="profile-banner">
  <div class="profile-detail">
    <p class=" h1 fw-bold">
      <i class="bi bi-person-fill"></i>
      {{user.username|upper }}
    </p>
    <p class="profile-email h6"><em>Email: {{user.email}}</em></p>
    <p class="profile-email h6"><em>Last log in: {{user.last_login}}</em></p>
  </div>
</div>
<br>
<div class="profile">
  <div class="header">
  <p class="h2 fw-bold" style="margin-bottom:0 ;">PERSONAL DETAILS</p>
  <button class="edit h6 fw-bold collapse multi-collapse show" id="EditButton"
    data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false"
    aria-controls="personalDetails userProfileForm EditButton">
    <a> <i class="bi bi-pencil-square"></i> Edit</a>
  </button>
  </div>
  <hr class="profile-hr">
  <div class="profile-content">
    <form action="{% url 'profile_tab' %}" method="post" id="userProfileForm" class="collapse multi-collapse">
      {% csrf_token %}
      {% include 'partials/bootstrap_form.html' with form=user_form %}
      {% include 'partials/bootstrap_form.html' with form=profile_form %}
      <input type="submit" value="Save Changes" class="btn btn-chocolate fw-bold">
    </form>
  </div>
  <div id="personalDetails" class="collapse multi-collapse show">
    <p>First Name: {{user.first_name}} </p>
    <p>Last Name: {{user.last_name}}</p>
      <p>Age: {{user.profile.age }}</p>
    <p>Date of Birth: {{user.profile.dob}}</p>
    <p>Address: {{user.profile.address}}</p>
    <p>Date joined: {{user.date_joined}}</p>
  </div>

</div>

<br>

{%endblock%}