{% extends 'home_content.html' %}
{% load static %}
{% block content %}
    <head>
        <link href="{%static 'sign_up.css'%}" rel="stylesheet"/>
    </head>
    <div id="log">
        <div class="box" style="color: rgb(245, 93, 66); border-color: rgb(245, 93, 66);">
            <h1>Sign up</h1>
            <div class="page-form">
                <div class="content">
                    <form action="{% url 'sign_up' %}" method="post">
                        <div class="input-field">
                            {% csrf_token %}
                            {% include 'partials/bootstrap_form.html' with form=form %}
                        </div>

                        <input type="hidden" name="next" value="{{next}}">
                        <input type="submit" value="Sign up" class="my-button" style="font-size: 15px; text-align: center;" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
