{% extends 'base.html' %}
    <body>
        <div class="page-form">
        <h1>Sign up</h1>
        <div class="content">
            <div class="input-field">
                <form action="{% url 'sign_up' %}" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
            </div>
            <div class="action">
                <button>
                    <input type="submit" value="Sign up" class="button">
                </button>
             </div>
                </form>
            </div>
        </div>
     </body>
     {% block content2 %}
     {% endblock %}
