{% extends 'base_content.html' %}
{% block content %}

<html>
	<head>
		<meta charset="utf-8">
		<title>Tutorial</title>
	</head>
	<body>
		<h1>Tutorial</h1><br />
		<div>
			<p><h3>How to start our website</h3></p>
			<ol>
				<li>Find the<a href="{% url 'log_in' %}"></a><button class="logIn">"login"</button>(in your upper right corner),<br />If you do not have an account, please go to the<a href="{% url 'sign_up' %}"><button class="signUp">"sign up"</button></a>page.</li><br />
				<div><img src="#.jpg"></div>
				<li>After logging in, you will enter the notebook home page.</li>
				<div><img src="#.jpg"></div>
			</ol>
		</div>
		<div>
			<p><h3>In the notebook home page</h3></p>
			<ul>
				<li>Add folder / notebook.</li>
					<ol>
						<li>You will see the "New" button, click on it.</li>
						<div><img src="#.jpg"></div>
						<li>Then you will find a pop-up window indicating whether to add a "folder" or a "notebook".</li>
						<div><img src="#.jpg"></div>
					</ol>
				<li>folder options / notebook options.</li>
					<ol>
						<li>You can see there is delete to delete folder or notebook.</li>
						<div><img src="#.jpg"></div>
						<li>Also you can link pages.</li>
						<div><img src="#.jpg"></div>
					</ol>
			</ul>
		</div>
		<div>
			<p><h3>In the note page</h3></p>
			<ul>
				<li>Pen button</li>
					<ol>
						<li>Select color</li>
						<div><img src="#.jpg"></div>
						<li>Select pen style</li>
						<div><img src="#.jpg"></div>
					</ol>
				<li>Text button</li>
					<ol>
						<li>Select text color</li>
						<div><img src="#.jpg"></div>
						<li>Text filed</li>
						<div><img src="#.jpg"></div>
					</ol>
				<li>Table button</li>
					<ol>
						<li>Create table</li>
						<div><img src="#.jpg"></div>
						<li>Resize the table</li>
						<div><img src="#.jpg"></div>
					</ol>
				<li>Codeditor button</li>
					<ol>
						<li>Plus button</li>
						<div><img src="#.jpg"></div>
					</ol>
				<li>Image button</li>
					<ol>
						<li>Select file</li>
						<div><img src="#.jpg"></div>
					</ol>
				<li>Download button</li>
					<ol>
						<li>Download prompt</li>
						<div><img src="#.jpg"></div>
					</ol>
				<li>Notebook sidebar</li>
					<ol>
						<li>Add pages</li>
						<div><img src="#.jpg"></div>
						<li>Dropdown menu</li>
						<div><img src="#.jpg"></div>
					</ol>
			</ul>
		</div>
		<div>
			<p><h3>In the calendar</h3></p>
			<ol>
				<li>
				<p>You will see:</p>
					<ul>
						<li>Monthly calendar</li>
						<div><img src="#.jpg"></div>
						<li>Weekly calendar</li>
						<div><img src="#.jpg"></div>
						<li>Day calendar</li>
						<div><img src="#.jpg"></div>
						<li>List</li>
						<div><img src="#.jpg"></div>
					</ul>
				</li>
				<li>
					<p>How to create new event</p>
					<ol>
						<li>Click the "Add New Event" in your lower left corner. Then you will see a form pop up.</li>
						<div><img src="#.jpg"></div>
						<li>Write down the details you want to record.</li>
						<div><img src="#.jpg"></div>
						<li>Selecting your date and time.</li>
						<div><img src="#.jpg"></div>
						<div><img src="#.jpg"></div>
						<li>Add tag (If you don't have a tag on the form, go to "How to create a tag")</li>
						<div><img src="#.jpg"></div>
						<li>Choose page</li>
						<div><img src="#.jpg"></div>
						<li>Set a reminder</li>
						<div><img src="#.jpg"></div>
						<li>Finally, press the "Create event" button</li>
						<div><img src="#.jpg"></div>
					</ol>
				</li>
				<li>
					<p>How to create new tag</p>
					<ol>
						<li>Click the "Add New Event".</li>
						<div><img src="#.jpg"></div>
						<li>Scroll to the bottom of the form, click the "New tag".</li>
						<div><img src="#.jpg"></div>
						<li>Then you will see a form for adding tags.</li>
						<div><img src="#.jpg"></div>
						<li>Fill in the title and color you want.</li>
						<div><img src="#.jpg"></div>
						<li>click the "Create tag".</li>
						<div><img src="#.jpg"></div>
					</ol>
				</li>
				<li>
					<p>After you create an event</p>
					<ul>
						<li>you can find events on each calendar.</li>
						<div><img src="#.jpg"></div>
						<li>
							<p>Clicking an event on the calendar will pop up the details of the event.</p>
							<div><img src="#.jpg"></div>
							<ul>
								<li>You can click "Edit" to modify the file.</li>
								<div><img src="#.jpg"></div>
								<li>Delete the event.</li>
								<div><img src="#.jpg"></div>
							</ul>
						</li>
					</ul>
				</li>
			</ol>
		</div>
		<div>
			<p><h3>Go to profile</h3></p>
			<ul>
				<li>You can fill in your personal information on the profile and make changes at any time. Just click "Edit".</li>
				<div><img src="#.jpg"></div>
				<li>
					<p>If you would like to change your profile picture.</p>
					<ol>
						<li>Go to the upper right corner and click your profile.</li>
						<div><img src="#.jpg"></div>
						<li>Choose "Change gravatar"</li>
						<div><img src="#.jpg"></div>
						<li>Then you will be redirected to a web page.</li>
						<div><img src="#.jpg"></div>
						<li>Click "Sign in". (Please make sure your registered email is the same as Notely email)</li>
						<div><img src="#.jpg"></div>
					</ol>
				</li>
				<li>
					<p>If you would like to change your password.</p>
					<ol>
						<li>Go to the upper right corner and click your profile.</li>
						<div><img src="#.jpg"></div>
						<li>Choose "Change password"</li>
						<div><img src="#.jpg"></div>
					</ol>
				</li>

			</ul>
		</div>
	</body>
</html>

{% endblock %}