{% extends 'base_content.html' %}
{% block content %}
    {% load static %}
    <html>
    <head>
        <meta charset="utf-8">
        <title>Tutorial</title>
    </head>
    <body class="page">
    <h1>Tutorial</h1><br/>

    <div class="row row-cols-1 row-cols-md-2 g-4" style="margin-right: 10px;">

        <div class="col">
            <div class="card">
                <img src="{% static "home/signlogin_homepage.jpg" %}" onclick="popupImage(this)" class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <h5 class="card-title">How to start our website</h5>
                    <li>Find the<a href="{% url 'log_in' %}">
                        <button class="logIn">"login"</button>
                    </a>(in your upper right corner),<br/>If you do not have an account, please go to the<a
                            href="{% url 'sign_up' %}">
                        <button class="signUp">"sign up"</button>
                    </a>page.
                    </li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/notebook home/login_homepage.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <p class="card-text">
                    <li>After logging in, you will enter the notebook home page.</li>
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/notebook home/newButton.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <h5 class="card-title">In the notebook home page</h5>
                    <li>Add folder / notebook.</li>
                    <li>You will see the "New" button, click on it.</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/notebook home/Add_folderNotebook_page.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Then you will find a pop-up window indicating whether to add a "Folder" or a "Notebook".</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/notebook home/Add_newFolder.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <img src="{% static "notebook/notebook home/Add_newNotebook.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Type Folder name / Notebook name.</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/notebook home/Folder_options_home.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <img src="{% static "notebook/notebook home/Notebook_options_home.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>folder options / notebook options.</li>
                    <li>You can see there is delete to delete folder or notebook.</li>
                    <li>Also you can link pages.</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/Notes_page.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <h5 class="card-title">In the note page</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/pen_bbuttob.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Pen button</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/penbutton_select_pencolor.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Select color</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/penbutton_select_pentype.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Select pen style</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/text_button.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Text button</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/textbutton_select_color.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Select text color</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/textbutton_textFiled_input.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Text filed</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/table_button.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Table button</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/tablebutton_createtable.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Create table</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/tablebutton_resize_table.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Resize the table</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/codeeditor_button.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Codeditor button</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/codeeditor_plus_button.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Plus button</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/image_button.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Image button</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/imagebutton_select_file.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Select file</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/download_button.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Download button</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/downloadbutton_download_prompt.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Download prompt</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/notes_page_sidebar.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Notebook sidebar</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/add_page_plus_button.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Add pages</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "notebook/inNote/nsidbar_dropdown.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Dropdown menu</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/Calendar_page_month.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <h5 class="card-title">In the calendar</h5>
                    <li>
                        <p>You will see:</p>
                        <ul>
                            <li>Monthly calendar</li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/calendar_page_week.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>
                        <p>You will see:</p>
                        <ul>
                            <li>Weekly calendar</li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/calendar_page_day.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>
                        <p>You will see:</p>
                        <ul>
                            <li>Day calendar</li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/create_event_inCalendar_list.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>
                        <p>You will see:</p>
                        <ul>
                            <li>List</li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/Add_new_event.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <h5 class="card-title">How to create new event</h5>
                    <li>Click the "Add New Event" in your lower left corner. Then you will see a form pop up.</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/select_date.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Write down the details you want to record.</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/select_time.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Selecting your date and time.</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/Add_new_event.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <h5 class="card-title">How to create new tag</h5>
                    <li>Click the "Add New Event".</li>
                    <li>Scroll to the bottom of the form, click the "New tag".</li>
                    <li>Add tag (If you don't have a tag on the form, go to "How to create a tag")</li>
                    <li>Choose page</li>
                    <li>Set a reminder</li>
                    <li>Finally, press the "Create event" button</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/Add_new_tag.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li>Then you will see a form for adding tags.</li>
                    <li>Fill in the title and color you want.</li>
                    <li>click the "Create tag".</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/create_event_inCalendar_day.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <h5 class="card-title">After you create an event</h5>
                    <li>you can find events on each calendar.</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/create_event_inCalendar_month.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <h5 class="card-title">After you create an event</h5>
                    <li>you can find events on each calendar.</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/create_event_inCalendar_week.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <h5 class="card-title">After you create an event</h5>
                    <li>you can find events on each calendar.</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/create_event_inCalendar_list.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <h5 class="card-title">After you create an event</h5>
                    <li>you can find events on each calendar.</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/Show_event_detail.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li><p>Clicking an event on the calendar will pop up the details of the event.</p></li>
                    <li>You can click "Edit" to modify the file.</li>
                    <li>Delete the event.</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "calendar/share_event.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <h5 class="card-title">How to share event</h5>
                    <li>Click the "Share event" in your lower left corner. Then you will see a form pop up.</li>
                    <li>Write down the email of the person you want to send and the message you want to write.</li>
                    <li>Click the "Share event".</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "other/Profile.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <h5 class="card-title">Go to profile</h5>
                    <li>You can fill in your personal information on the profile and make changes at any time. Just
                        click
                        "Edit".
                    </li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "other/create_your_gravatar_website.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li><p>If you would like to change your profile picture.</p></li>
                    <li>Go to the upper right corner and click your profile.</li>
                    <li>Choose "Change gravatar"</li>
                    <li>Then you will be redirected to a web page.</li>
                    <li>Click "Sign in". (Please make sure your registered email is the same as Notely email)</li>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static "other/Change_password.png" %}" onclick="popupImage(this)"
                     class="card-img-top">
                <div class="card-body" style="margin-left: 30px;">
                    <li><p>If you would like to change your password.</p></li>
                    <li>Go to the upper right corner and click your profile.</li>
                    <li>Choose "Change password"</li>
                </div>
            </div>
        </div>


        <div class="imageF" id="myImage">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="image-content" id="imgSample">
        </div>


        <script>
            var modal = document.getElementById("myImage");

            var img = document.getElementById("imgSample");

            function popupImage(image) {
                modal.style.display = "block";
                img.src = image.src;
            }

            function closeModal() {
                modal.style.display = "none";
            }
        </script>
    </body>


    <style>
        .imageT {

            cursor: pointer;
        }

        .imageF {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .image-content {
            display: block;
            margin: auto;
            max-width: 1000px;
            max-height: 1000px;
        }

        .close {
            color: #fff;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 50px;
            font-weight: bold;
            transition: all 0.3s;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        .page {
            padding-left: 20px;
        }

        .logIn {
            background-color: #fff;
            color: #00008B;
            border: none;
            border-radius: 5px;
            font-size: 16px;
        }

        .signUp {
            background-color: #fff;
            color: #00008B;
            border: none;
            border-radius: 5px;
            font-size: 16px;
        }
    </style>
    </html>

{% endblock %}